mixin sTeachersPresent()
	// start sTeachersPresent
	+b.SECTION.sTeachersPresent.section#sTeachersPresent&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Букет цветов учителю
				p Дарить цветы учителю — замечательная традиция и хороший способ выразить свое уважение и признательность. Неважно, какой для этого повод — 1 сентября, день рождения, День учителя или последний звонок, — у нас вы найдете изысканные цветочные композиции на любой случай. Мы составляем букеты из редких растений и наполняем их смыслом: такой подарок точно не затеряется среди охапок цветов и покажет ваше внимание. Композиции собираются только из свежих растений, поэтому простоят долго.
			.row
				+teacherSampleRow()
				+teacherSampleRow()
				+teacherSampleRow()
				+teacherSampleRow()
				+teacherSampleRow()
				+teacherSampleRow()
				//-price discount
				+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990', 'ХИТ')(class='col-sm-6 col-lg-4')
					+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
						| Яркий, как ваш школьник, радостный, как последние дни лета, удобный - таким должен быть подарок учителю на 1 сентября.
				+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990')(class='col-sm-6 col-lg-4')
					+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
						| Крафтовая коробка с яркими цветами осени - отличный подарок учителю.
				+prodItemCustom()(class='col-sm-6 col-lg-4')
	// end sTeachersPresent
mixin sTeachersPresent-04()
	// start sTeachersPresent
	+b.SECTION.sTeachersPresent.section#sTeachersPresent&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Оригинальные букеты на 1 сентября
				p Невозможно представить начало учебного года без букетов цветов для учителей. Мы в «Зверобое» с удовольствием поддерживаем эту традицию, но подходим к ней совершенно по-новому. Забудьте про стандартные скучные гладиолусы в целлофановой упаковке. Безусловно, это очень красивые цветы, но если начистоту, то получать с десяток одинаковых букетов из года в год надоест кому угодно. Лучше закажите необычную цветочную композицию у нас и порадуйте преподавателя оригинальным букетом на 1 сентября!
			.row
				+teacherSampleRow04()

mixin sTeachersPresent-06()
	// start sTeachersPresent
	+b.SECTION.sTeachersPresent.section#sTeachersPresent&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Озеленение мхом
				p Интернет-магазин «Зверобой» предлагает сделать пространство офиса или дома уютным и красивым, используя стабилизированный мох. Озеленение мхом производит настоящий wow-эффект благодаря объему, мягкости, насыщенным расцветкам. У нас вы можете недорого купить готовые решения (картины разной формы, островки) или заказать озеленение мхом под заказ: панно необычной формы, логотип компании, сувениры и т.д.

mixin sTeachersPresent-07()
	// start sTeachersPresent
	+b.SECTION.sTeachersPresent.section#sTeachersPresent&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Композиции из кактусов и суккулентов
				p Суккуленты и кактусы — это растения, которые в дикой природе произрастают в засушливых областях Африки и Южной Америки. Они отличаются способностью накапливать влагу и таким образом долгое время обходиться без полива. Эту относительную неприхотливость в уходе оценили люди по всему миру, и теперь представителей семейства кактусовых можно часто встретить в качестве домашних растений. У нас в «Зверобое» можно купить композиции из суккулентов в качестве необычного подарка близкому человеку или для украшения дома. Доставка по Москве осуществляется в день заказа.
			+arrowStrip()
			.row
				+teacherSampleRow04()
				+teacherSampleRow04()

mixin teacherDescr(title, price)
	+b.teacherDescr&attributes(attributes)
		+e.descr
			h4=title
			p
				block
		+e.size-txt Выберите размер при заказе
		+price(price)

mixin teacherSampleRow()
	+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', 'discount', 'ХИТ')(class='col-sm-6 col-lg-4')
		+teacherDescr('ОХОТНИК', 'discount')(class="text-center")
			| Яркий, как ваш школьник, радостный, как последние дни лета, удобный - таким должен быть подарок учителю на 1 сентября.
	+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990')(class='col-sm-6 col-lg-4')
		+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
			| Крафтовая коробка с яркими цветами осени - отличный подарок учителю.
	+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990')(class='col-sm-6 col-lg-4')
		+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
			| Букет для тех, кто с азартом преследует цель. И знает, что порой перед финальным броском необходимо терпеливо выждать в засаде.

mixin teacherSampleRow04()
	+prodItemGalery('hitman', 1, 'ОХОТНИК', 'discount', 'ХИТ')(class='col-sm-6 col-lg-4')
		+hitManDescr('ОХОТНИК', 'discount')
			| Букет для тех, кто с азартом преследует цель. И знает, что порой перед финальным броском необходимо терпеливо выждать в засаде.
			|
			br
			| С воспоминаниями о лесных путешествиях в компании близких по духу.
	+prodItemGalery('hitman', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990')(class='col-sm-6 col-lg-4')
		+hitManDescr('ЩЕДРАЯ ОСЕНЬ', '4 990')
			| Букет для пылких духом с искрой и хитринкой в глазах.
			|
			br
			| С воспоминаниями о ярких победах.
	+prodItemGalery('hitman', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990')(class='col-sm-6 col-lg-4')
		+hitManDescr('ЩЕДРАЯ ОСЕНЬ', '4 990')
			| Букет для пылких духом с искрой и хитринкой в глазах.

mixin prodItemCustom(imgMod='')
	+b.prod-col&attributes(attributes)
		+e.item-cont
			+e.A.item--galery(href='#')
				.img-cont
					.imgs
						img(loading='lazy' src=`img/@2x/custom${imgMod}-1.jpg` alt="")
						img(loading='lazy' src=`img/@2x/custom${imgMod}-2.jpg` alt="")
				+b.prod-custom-descr
					p Перезвоним в течение 1 часа!
					p Создадим уникальный букет специально для вас.
