mixin sBlog()
	// start sBlog
	+b.sBlog.section#sBlog&attributes(attributes)
		.container
			+blogItem(1)
				h2 ЦВЕТЫ И ДЕТИ
				p
					| Я уже писала про букеты для мужчин, про оригинальные букеты для руководителей и, конечно, про букеты для прекрасной половины человечества.
					br
					| А вот как вообще сочетается история про цветы с детьми?
				br
				p
					| Осень подкинула такую тему. Отгремело 1 сентября. Сейчас на носу день учителя.
					br
					| Какие вообще цветы дарят дети и детям?
				ul
					li Наверное самое главное - это удобные! Нет ничего грустнее ребенка, который с трудом тащит букет для любимого учителя, мамы или бабушки.
					li Поэтому дарите корзинки и ящички - их легко нести,
					li Дарите легкие воздушные букеты,
					li Выбирайте стойкие цветы - дети по дороге на праздник могут уронить или потрепать букет
					li И яркие!!! Нежные припыленные букеты понравятся женщине, а ребенок будет радоваться буйству цвета!
			+blogItem(2)
				h2 КАКИЕ ЦВЕТЫ ДАРЯТ МУЖЧИНАМ
				p На вопрос, «Дарят ли мужчинам цветы», есть только один ответ: «Конечно, да». Изысканный, но вместе с тем дерзкий букет — это отличный способ порадовать близкого человека на день рождения или 23 февраля, отблагодарить учителя или выразить свое уважение деловому партнеру. Флористы «Зверобоя» точно знают, какие цветы использовать для мужских букетов, и создают с их помощью брутальные, стильные и яркие композиции, которые расскажут о ваших чувствах красноречивее любых слов. Сегодня мы поделимся секретами и расскажем об истинно мужских цветах и их значении в качестве подарка.
				br
				+e.A.learn-more(href="#") ЧИТАТЬ ДАЛЕЕ
			+blogItem(1)
				h2 НАЗВАНИЯ ЦВЕТОВ ДЛЯ БУКЕТОВ
				p Цветы — это застывшая поэзия, которая с древних времен притягивает к себе людей. Обычай дарить букеты и украшать помещения цветочными композициями восходит еще к античности. Но несмотря на то, что эта традиция никогда не выходит из моды, многие люди совсем не ориентируются в названиях цветов для букетов. Поэтому им сложно выразить свои пожелания флористу и они обычно заказывают какую-нибудь стандартную композицию из алых роз вместо того, чтобы купить по-настоящему уникальный и необычный букет. Поэтому мы решили наглядно и с картинками рассказать вам названия цветов для букетов, чтобы вы совместно с флористами «Зверобоя» могли легко составить композицию своей мечты!
				br
				+e.A.learn-more(href="#") ЧИТАТЬ ДАЛЕЕ
			+blogItem(2)
				h2 ЧТО ПОДАРИТЬ МУЖЧИНЕ
				br
				p
					b Кому дарят букеты от зверобой?
					br
					| Если во время создания нашей мужской коллекции мы только предполагали, кому будут дарить наши мужские букеты, то сейчас на практике точно знаем, что счастливыми обладателями наших букетов стали:
				ol
					li Врачи
					li Министры
					li Руководители компаний
					li Важные партнеры компаний
					li Актеры
					li Журналисты
					li Заботливые отцы наших клиентов
					li Любящие мужья и браться замечательных клиенток
					li Преподаватели
					li Юбиляры
				p Также букеты выбирают для украшения ресепшн офисов банков и бизнес центров
				br
				p Они стильные и необычные, привлекают внимание и запоминаются.
			+blogItem(1)
				h2 ИСТОРИЯ ЦВЕТОВ
				p
					b Дельфиниум
					br
					| И снова здравствуйте!
				br
				p Сегодня мы немного расскажем вам историю одного невероятно красивого цветка - дельфиниума! ⠀
				br
				p Большое и щедрое сердце у того, кто любит этот прекрасный голубой цветок – дельфиниум.
				br
				p Вы найдете его в наших композициях: Мореплаватель в коре , Ацтек, Летний луг и Полевые травы.
				br
				p Легенд, объясняющих происхождение названия, несколько.???? По одной из них поля голубых дельфиниумов окружали древний греческий город Дельфы. С тех пор город уже давно разрушен, но остался цветок с его названием.
				br
				p Кстати, в честь Дельф были названы одноименная среда разработки и язык программирования Delphi. Так что, если мужчина, которому вы подарите наш букет, связан с ИТ, он оценит аллегорию!????
			+blogItem(2)
				h2 ЧТО ПОДАРИТЬ МУЖЧИНЕ
				p
					b Хватит дарить банальные букеты
					br
					| Если удивлять, то букетом от Зверобой =)
				br
				p У нас нет цветов на все случаи жизни!
				br
				p
					| Хватит дарить банальные букеты!
					br
					| В магазине «Зверобой» вы найдете только эксклюзивные композиции для особого случая
					| Поразите оригинальностью и красотой букета коллегу, начальника или бизнес-партнера
				p - учитываем 1000 деталей от статуса получателя до его темперамента и вкуса - десятки видов цветов от полевых до экзотических,
				p - используем современные тренды в области флористики и декора,
				p - обладаем нестандартным мышлением и подходом к созданию цветочных композиций,
				p - заботимся об экологии (упаковываем букеты в крафт, мешковину и дерево)
				p Для заказа переходите по ссылке в шапке профиля. На все заказы, начиная со второго скидка 7%✨
				a(href="#") #оригинальныебукеты
			+blogItem(1)
				h2 ИСТОРИЯ ЦВЕТОВ
				p
					b Какая связь между морской солью и растениями?
				br
				p Всем привет! Сегодня хотим познакомить Вас с ещё одним растением, которое можно часто встретить в наших букетах и композициях! ⠀
				p На фото наш любимый душистый Розмарин.
				p ❗️Кстати, легенды окружают розмарин на протяжении всей его длинной истории.
				p Начать можно прямо с названия – легенда гласит, что розмарин – это искаженное латинское ros marinus – «морская роса». Так повелось с легкой руки древнеримского историка Плиния, который говорил, что цветки розмарина имеют столь привлекательный цвет благодаря тому, что морская пена, попадая на цветы, окрашивает их в голубой цвет, ведь растение встречается в основном по каменистым морским побережьям западного Средиземноморья.
				br
				p ❗️Также о розмарине, который в народном сознании был и священным и магическим растением, ходило много легенд. Рассказывали, что первоначально его цветы были белыми, но во время бегства в Египет, Дева Мария разложила на кусте розмарина просушиться пеленки Младенца, и его цветы посинели. ❗️Другое предание гласило, что куст растет ввысь только 33 года – возраст, когда был распят Христос.
				a(href='#') #цветочные_истории_зверобой
			+blogItem(2)
				h2 УХОД ЗА РАСТЕНИЯМИ
				p
					b Почему наши букеты не вянут?
				br
				p Лето? Жара? А он доедет? – спрашиваете вы про букет, если после доставки ему предстоит еще нелегкий путь до именинника.
				br
				p Конечно, отвечаем мы! Мы уточним у вас, нужно ли поставить букет на воду. Если да, то букет приедет к вам в воде. Цветы будут питаться в пути.
				br
				p А вот перед преподнесением лучше снять букет с воды, ведь он скоро будет поставлен в вазу!
				a(href="#") #вопросы_зверобой
			+blogItem(1)
				h2 ИСТОРИЯ ЦВЕТОВ
				p
					b О греческой богине
				br
				p Мы очень любим изучать историю цветка, искать интересные факты и читать завораживающие мифы и легенды!
				br
				p И сегодня хотим поделиться с вами одной интересной легендой о цветке - Вероника, которую мы добавляем в наши букеты «Охотник», «Мореплаватель», «Летний луг».
				br
				p Название цветка Вероника берет своё начало в древней Греции, так звали богиню звёзд Береника, что в последствии стало как Вероника.✨
				br
				p У красавицы Вероники были длинные волосы сказочной красоты, которые воспевали поэты и восхваляли все те, кто хоть однажды увидел их. Страстно молясь богам, Береника отрезала свои прекрасные волосы и возложила на алтарь в храме Афродиты.
				br
				p В итоге поход Птолемея III оказался очень удачным. Волосы же исчезли из храма, так же, как и комета Галлея.
				br
				p Оракул на следующий день сообщил царской чете, что жертва была принята, и он наблюдал ночью на месте кометы новые звёзды в виде женских кос, которые с тех пор называют созвездием Волосы Вероники.
				a(href='#') #цветочные_истории_зверобой
			+blogItem(2)
				h2 ИСТОРИЯ ЦВЕТОВ
				p
					b О папоротнике
				p Папоротник в наших букетах напоминает о древних легендах славян о чудесном цветке папоротника, который можно найти лишь единожды в году - в ночь с 21 на 22 июня✨
				br
				p
					| Нашедшему Перунов цвет сможет исполнить любые заветные желания. Подарит понимание языка птиц и животных, а также излечит от любых болезней.
					| Папоротник обладает всепобеждающей силой, дарящей свет и энергию всему живому.✨✨✨
				br
				p Наслаждайтесь красотой папоротника в букетах от Зверобой и берегите близких❤️
				a(href='#') #цветочные_истории_зверобой
			+e.item
				+e.row.row
					+e.img-col.col-lg-auto
						+e.img--colage
							+e.first-img
								img(loading="lazy" src=`img/@2x/new-img-colage-1.jpg` alt="")
							+e.second-img
								img(loading="lazy" src=`img/@2x/new-img-colage-2.jpg` alt="")
							+e.third-img
								img(loading="lazy" src=`img/@2x/new-img-colage-3.jpg` alt="")
					+e.txt-col.col
						h2 ГДЕ САМЫЙ КРАСИВЫЙ ЛЕС?
						p Темные воды Онежского озера лижут каменные берега, солнце отражается в спокойных водах Ладоги, могучие сосновые леса уходят в небесную синеву, мраморные карьеры и отвесные скалы, рыжие лисички в зарослях мха и бусины клюквы на кочках болот, сладкие черничники и ароматная клубника в августе. Все это воспоминания о Карелии.
						br
						p Лодка, причаливающая к гладким каменным берегам Ладоги.️Палатка, растянуться прямо на камне, и счастливое тело, распластанное на мшистых подушках под звездным небом
						br
						p
							| Все это воспоминания, которые мы вплели в лесные букеты от Зверобой.
							a(href='#') #зверобой_путешествия
	// end sBlog

mixin blogItem(imgNum)
	+e.item
		+e.row.row
			+e.img-col.col-lg-auto
				+e.img
					img(loading="lazy" src=`img/@2x/blog-img-${imgNum}.jpg` alt="")
			+e.txt-col.col
				block

mixin sBlog-12()
	// start sBlog
	+b.sBlog.section#sBlog&attributes(attributes)
		.container
			+blogItem(2)
				h2 КАКИЕ ЦВЕТЫ ДАРЯТ МУЖЧИНАМ
				p На вопрос, «Дарят ли мужчинам цветы», есть только один ответ: «Конечно, да». Изысканный, но вместе с тем дерзкий букет — это отличный способ порадовать близкого человека на день рождения или 23 февраля, отблагодарить учителя или выразить свое уважение деловому партнеру. Флористы «Зверобоя» точно знают, какие цветы использовать для мужских букетов, и создают с их помощью брутальные, стильные и яркие композиции, которые расскажут о ваших чувствах красноречивее любых слов. Сегодня мы поделимся секретами и расскажем об истинно мужских цветах и их значении в качестве подарка.