mixin sEvents()
	// start sEvents
	+b.SECTION.sEvents.section#sEvents&attributes(attributes)
		.container
			+arrowStrip()
			+b.section-title.text-center
				h2 Какие мероприятия мы оформляем?
				p Наши флористы работали на торжествах различной тематики, от свадеб до презентаций и юбилеев. Стоимость оформления цветами мероприятия зависит от количества и сложности цветочных композиций, видов растений, дополнительных услуг флористов. Все детали обговариваются в начале сотрудничества, цена остается неизменной.
			+e.row.row
				+eventItem(1, 'ОФОРМЛЕНИЕ СВАДЕБ')
					| Букет и венок невесты, бутоньерка жениха, свадебная арка, декор для автомобилей и цветочные композиции на столах — мы занимаемся оформлением цветами мероприятий в Москве под ключ и добиваемся идеально сочетания всех элементов декора.
				+eventItem(2, 'ДЕКОР ОФИСА')
					| Напольные композиции, флорариумы, картины изо мха, стильные букеты — мы поможем подготовить офис к важному мероприятию.
					|
					br
					| Создайте сказочную атмосферу для сотрудников и гостей!
				+eventItem(3, 'БАНКЕТ')
					| Президиум с оригинальной композицией — центром притяжения взглядов, столы с небольшими и изящными букетиками, welcome-зона, украшенная цветами, флористический декор на стенах — мы знаем, как создать праздничную атмосферу для торжества.
				+eventItem(4, 'НОВЫЙ ГОД')
					| Оформление цветами мероприятий на Новый год и Рождество — смелое и элегантное решение.
					|
					br
					| Наши новогодние и рождественские композиции приковывают взгляды и заставляют верить в чудеса.
				+eventItem(5, 'ФОТОЗОНА')
					| Продумаем идеальный фон для праздничных снимков в зависимости от тематики события.
					|
					br
					| Каждая фотография будет особенной с необычными лесными цветами и растениями от «Зверобоя».
				+eventItem(6, 'ФОТОСЕССИЯ')
					| Вы хотите предстать на фотосессии в романтичных образах или сделать изысканные, нетривиальные снимки в современной стилистике? Декор от «Зверобоя» поможет реализовать идеи и обойтись минимумом декораций.
	// end sEvents

mixin eventItem(imgNum, titleTxt)
	+e.col.col-lg-4.col-sm-6
		+e.A.item(href='#')
			+pic(`event-img-${imgNum}.jpg`)(class="sEvents__img")
			+e.title=titleTxt
			+e.descr
				block
			.prod-col__buy-btn ЗАКАЗАТЬ