// start .sHitMan
.sHitMan {
	--sPT: #{0};
	--sTPB: #{0};

	--sPB: #{rem(30px)};
	@include media-breakpoint-up(lg){
		--sPB: #{rem(75px)};
	}

	.section-title{
		background-color: $light-green;
		padding: rem(15) 0;
		margin-bottom: rem(45);
		h2{
			font-size: rem(26);
			@include media-breakpoint-up(md){
				font-size: rem(30);
			}
			font-weight: 700;
			-webkit-font-smoothing: antialiased;
		}
	}

	&__row{
		@include roww(40px);

		@include media-breakpoint-up(lg){
			padding-bottom: rem(30);
		}
		@include media-breakpoint-up(xl){
			padding-bottom: rem(50);
		}
	}


	//all-man-flowers
	&__all-btn-cont{
		text-align: center;
	}
	&__all-btn{
		@extend .light-g-btn-frame;
	}
	&__{}
} // end.sHitMan
.prod-col{
	margin-bottom: rem(30);

	&__item-cont{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;

		@include mt();
		&:hover{

		}
	}
	&__item{
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		span{
			display: block;
		}

		color: $body-color;
		&:hover{
			color: $body-color;
		}
	}
	//galery
	&__item--galery{

		.img-cont{
			img:first-child{
				opacity: 1;
			}
			img:last-child{
				opacity: 0;
			}
		}

		&:hover{
			.img-cont {
				img:first-child {
					opacity: 0;
				}

				img:last-child {
					opacity: 1;
				}
			}
		}
	}


	.img-cont{
		position: relative;
		padding-top: 109.5%;
		width: 100%;
		height: 0;

		img{
			@include mt();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}


	&__buy-btn{
		@extend .btn;
		@extend .btn-success;
		flex-shrink: 0;

		font-size: rem(14px);
		font-weight: bold;
		text-transform: uppercase;

		padding: rem(12px) rem(32px);
		color: $white;
		border: 1px solid $black;
		background-color: $green2;
		&:hover{
			color: $white;
			background-color: $black;
		}
	}
}

.hitManDescr{
	display: flex!important;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	height: 100%;

	&__descr{
		padding-top: rem(20);
		h4{
			font-weight: 700;
			text-transform: uppercase;
			font-size: rem(16);
			margin-bottom: rem(9);
		}
		p{
			font-weight: 300;
			font-size: rem(14);
			line-height: 1.55;
		}
	}
	&__size-txt{
		margin-top: auto;
		font-weight: 300;
		font-size: rem(14);
		line-height: 1.55;

		margin-bottom: rem(14px);
	}
	&__price{
		font-size: rem(16px);
		line-height: 1.35;
		margin-bottom: rem(19px);
	}
}

//


.cart-mark{
	position: absolute;
	top: 10px;
	right: 10px;
	width: rem(50);
	height: rem(50);
	border-radius: 50%;

	display: flex !important;
	align-items: center;
	justify-content: center;

	text-transform: uppercase;
	font-size: 12px;

	&--new{
		background-color: $yellow;
	}
	&--hit{
		background-color: $light-red;
		color: $white;
	}
}

//

.prod-card{
	overflow: auto;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	//background-color: rgba($white, .5);
	background-color: rgba($white, 1);

	padding-top: rem(90);
	@include media-breakpoint-up(md){
		padding-top: 0;
	}


	display: none;
	&.active{
		display: block;
	}

	//header
	&__header{
		display: flex;
		align-items: flex-start;

		position: fixed;
		width: 100%;
		z-index: 10001;
		top: 0;
		left: 0;
		justify-content: flex-end;
		min-height: rem(60px);
		padding: rem(15) rem(30) rem(15) rem(15);
		background-color: $black;
		@include media-breakpoint-up(md){
			position: static;
			justify-content: space-between;
			min-height: rem(105px);
			padding: rem(26) rem(20);
			background-color: $white;
			margin-bottom: 0;
		}
	}
	&__back-txt{
		cursor: pointer;
		font-size: 14px;
		line-height: 1.55;

		color: rgba($black, .8);
		&:hover{
			color: rgba($black, 1);
		}

		&:before{
			content: "â† ";
			font-size: rem(16);
		}
	}
	&__cross-btn{
		cursor: pointer;
		.icon{
			font-size: rem(25px);

			color: $white;
			@include media-breakpoint-up(md){
				color: $black;
			}
		}

		@include mt();
		opacity: .9;
		&:hover{
			opacity: 1;
		}
	}

	//
	&__row{
		@include roww(40px);
	}
	//img col
	&__img-col{
		margin-bottom: 30px;
		@include media-breakpoint-up(md){
			margin-bottom: 0;
		}
	}

	//slider case
	&__slider{
		//default
		& > .swiper-container{
			position: relative;
			padding-bottom: 5px;
		}
		.swiper-wrapper{}
		.swiper-slide{}

		//prev,next
		.prod-card-next,
		.prod-card-prev{
			@include mt();
			@extend .swiper-controll-frame;
			background-color: $white;
			.icon{
				stroke-width: 1px;
				stroke: $black;
			}
		}

		.prod-card-prev{
			left: 30px;
			transform: translateY(-50%) translateX(-100px);
		}
		.prod-card-next{
			right: 30px;
			transform: translateY(-50%) translateX(100px);
		}
		&:hover{
			.prod-card-next,
			.prod-card-prev{
				transform: translateY(-50%) translateX(0);
			}
		}
	}
	&__slide-img{
		display: block;
		position: relative;
		padding-top: 100%;

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	//thumb
	&__thumb{
		.swiper-container{}
		.swiper-wrapper{}

		.swiper-slide{
			width: calc((100% / 3) - (5px * 2 / 3));
			@include media-breakpoint-up(sm){
				width: calc((100% / 4) - (5px * 3 / 4));
			}
			@include media-breakpoint-up(md){
				width: calc((100% / 5) - (5px * 4 / 5));
			}
			@include media-breakpoint-up(lg){
				width: calc((100% / 6) - (5px * 5 / 6));
			}
			@include media-breakpoint-up(xl){
				width: calc((100% / 8) - (5px * 7 / 8));
			}
		}
	}
	&__thumb-img{
		cursor: pointer;
		display: block;
		position: relative;
		height: 0;
		width: 100%;
		padding-top: 100%;

		overflow: hidden;
		background-color: $black;
		&:hover{
			img{
				opacity: .8;
				transform: scale(1.15);
			}
		}

		img{
			@include mt();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	//single img case
	&__img{
		position: relative;
		display: block;
		padding-top: 100%;
		height: 0;
		width: 100%;

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}

	//descr-col
	&__descr-col{

	}
	&__name{
		text-transform: uppercase;
		font-size: rem(24px);
		line-height: 1.35;
		font-weight: bold;
		margin-bottom: rem(18);
	}

	&__price{
		font-size: rem(20px);
		line-height: 1.35;
		font-weight: 400;
		margin-bottom: rem(10);
	}
	&__select-cont{
		margin-bottom: rem(20);

		select{
			padding: 2px 30px 2px 10px;
			min-width: rem(150px);

			border: 1px $select-gray solid;
			background: darken($gray-100, 1);
			color: $black;
			border-radius: rem(5px);
			cursor: pointer;
		}
	}
	&__select-txt{
		font-size: rem(14px);
		line-height: 1.55;
		margin-bottom: 3px;
	}
	&__btn{
		@extend .btn;
		@extend .btn-success;
		padding: rem(9px) rem(32px);
		margin-bottom: rem(30);

		font-size: rem(14);
		font-weight: bold;

		border: 1px solid $black!important;
		box-shadow: none!important;
		outline: none!important;

		background-color: $green2;
		&:hover{
			background-color: $black;
		}

		&--pink{
			border: 1px solid $pink !important;
			background-color: $pink;
			&:hover{
				border: 1px solid $green2 !important;
				background-color: $green2;
			}
		}
	}
	&__descr{
		p{
			font-size: rem(16);
			line-height: 1.55;
			margin-bottom: rem(21);
			font-weight: 300;
		}
	}
}