// start .sOurClients
.sOurClients {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};

	--sTPB: #{rem(45)};
	@include media-breakpoint-up(lg){
		--sTPB: #{rem(100)};
	}
	position: relative;
	z-index: 2;
	width: 98vw;
	left: calc(-1 * (98vw - 100%) / 2);

	.section-title{
		h2{
			font-family: $default-font;
		}
	}
	&__slider{
		position: relative;
		padding: rem(30) 0;
		@include media-breakpoint-up(lg){
			padding: rem(100) 0;
		}
		.swiper-container{
			//position: relative;
			position: static;
		}
		.swiper-wraper{
			position: static;
		}
		.swiper-slide{
			//background-color: red;
			//box-shadow: inset 0 0 0 1px red;
			height: auto;
			width: calc((100% / 2) - (10px * 1 / 2));
			@include media-breakpoint-up(sm){
				width: calc((100% / 3) - (10px * 3 / 4));
			}
			@include media-breakpoint-up(md){
				width: calc((100% / 4) - (10px * 3 / 4));
			}
			@include media-breakpoint-up(lg){
				width: calc((100% / 5) - (10px * 4 / 5));
			}
			@include media-breakpoint-up(xl){
				width: calc((100% / 6) - (10px * 5 / 6));
			}
		}

		//prev, next
		.clients-prev,
		.clients-next{
			@extend .swiper-controll-frame;
			background-color: $slider-gray;
			.icon{
				stroke-width: 1px;//??
				stroke: $black;
			}
		}

		.clients-prev{
			left: 30px;
		}
		.clients-next{
			right: 30px;
		}

		//pugin
		.clients-pugin{
			@extend .pugin-frame-dark;
			height: 60px;
		}
	}
	&__img{
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 85%;
			max-height: 85%;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sOurClients