// start .sWomanFrame
.sWomanFrame {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(35)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(30)};
		--sPB: #{rem(30)};
		--sTPB: #{rem(80)};
	}

	.section-title{
		h2{
			font-size: rem(24px);
			@include media-breakpoint-up(sm){
				font-size: rem(30px);
			}
			@include media-breakpoint-up(md){
				font-size: rem(38px);
			}
			font-family: $default-font;
		}
	}


	&__txt-split{
		margin-bottom: rem(30);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(90);
		}

		p{
			font-size: rem(20px);
			font-weight: 300;
			line-height: 1.55;


			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(sm){
				max-width: 90%;
			}
			@include media-breakpoint-up(xl){
				max-width: 960px;
			}
		}

		*:last-child{
			margin-bottom: 0;
		}
	}
	.prod-col{
		@include media-breakpoint-up(lg){
			margin-bottom: rem(90);
		}
	}
} // end.sWomanFrame