mixin sHitWoman()
	// start sHitWoman
	+b.SECTION.sHitWoman.section#sHitWoman&attributes(attributes)
		+b.section-title.text-center
			h2 Хиты продаж для неё
		.container
			+e.row.row
				+prodItem('hitwoman', 1, 'свежесть', 'discount', 'ХИТ')(class='col-sm-6 col-lg-3')
					+hitWomanDescr('свежесть', 'discount')
						| Нежные пионы с яркой зеленью. Прекрасное сочетание и изысканная красота.
				+prodItem('hitwoman', 2, 'коралловый рай', '9 500')(class='col-sm-6 col-lg-3')
					+hitWomanDescr('коралловый рай', '9 500')
						| Невероятно шикарный букет с пионами, нежными розами и дельфиниумом.
				+prodItemGalery('hitwoman', 3, 'лес в ящике', '7 990')(class='col-sm-6 col-lg-3')
					+hitWomanDescr('лес в ящике', '7 990')
						| Лесная композиция подарит радость и будет очень долго радовать.
				+prodItemGalery('hitwoman', 4, 'охотница', '5 700', 'NEW')(class='col-sm-6 col-lg-3')
					+hitWomanDescr('охотница', '5 700')
						| Букет с ягодами, магнолией и перьями фазана. Может быть выполнен в кашпо из коры дерева.
			+e.all-btn-cont.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				+e.A.all-btn(href="#") ВСЕ БУКЕТЫ ДЛЯ неё
	// end sHitWoman

mixin hitWomanDescr(title, price)
	+b.hitWomanDescr
		+e.descr
			h4=title
			p
				block
		+price(price)