// start .sHitWoman
.sHitWoman {
	--sPT: #{0};
	--sTPB: #{0};

	--sPB: #{rem(10px)};
	@include media-breakpoint-up(lg){
		--sPB: #{rem(30px)};
	}

	.section-title{
		background-color: $light-green;
		padding: rem(14) 0;
		margin-bottom: rem(42);
		h2{
			font-size: rem(26);
			@include media-breakpoint-up(md){
				font-size: rem(32);
			}
			font-weight: 700;
			-webkit-font-smoothing: antialiased;
		}
	}


	&__row{
		padding-bottom: rem(20);
		@include media-breakpoint-up(md){
			padding-bottom: rem(30);
		}
		@include media-breakpoint-up(lg){
			@include roww(40px);
			//padding-bottom: rem(170);
			padding-bottom: rem(35);
		}
	}

	//
	&__bb-cont{
		width: 100%;
		text-align: center;
	}
	&__buy-btn{
		@extend .btn;
		@extend .btn-danger;

		padding: rem(12) rem(30);

		align-self: center;

		background-color: $pink;
		color: $white;
		&:hover{
			background-color: $green2;
			color: $white;
		}

		border: none;
		box-shadow: none;

		font-weight: bold;
	}
	//
	&__all-btn-cont{
		text-align: center;
	}
	&__all-btn{
		@extend .light-g-btn-frame;
	}
} // end.sHitWoman

.hitWomanDescr{
	text-align: center;

	display: flex!important;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	&__descr{
		padding-top: rem(19);
		h4{
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1.35;
			margin-bottom: rem(9);
		}
		p{
			font-size: 14px;
			line-height: 1.55;
			font-weight: 300;
			margin-bottom: rem(13);
		}
	}

	&__price{
		margin-top: auto;
		margin-bottom: rem(20px);
	}
}