mixin sMoreFlowers()
	// start sMoreFlowers
	+b.SECTION.sMoreFlowers.section#sMoreFlowers&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Есть еще букеты?
				p
					| Смотреть мужскую коллекцию.
					br
					| Многим нравятся настолько, что их заказывают не только мужчинам и руководителям, но и девушкам, медийным личностям и самым уникальным персонам.
			+e.btn-cont
				+e.btn(href="#") Выбрать букет
			+b.arrow
				img(loading="lazy" src="img/@2x/arrow-img.png" alt="")

	// end sMoreFlowers