mixin sHeaderTimer()
	// start sHeaderTimer
	+b.SECTION.sHeaderTimer#sHeaderTimer&attributes(attributes)
		+pic('headerTimer-bg.jpg')(class="sHeaderTimer__bg")
		+e.content
			.container
				+b.section-title.text-center
					h2 Успей заказать роскошные букеты для любимых учителей.
					p до дня учителя осталось
				+e.timer-box.timer-box-js
					span.days 00
					span.hours 00
					span.minutes 00
					span.seconds 09
	// end sHeaderTimer

mixin sHeaderTimer-04()
	// start sHeaderTimer
	+b.SECTION.sHeaderTimer--04#sHeaderTimer&attributes(attributes)
		+pic('header-timer-september.jpg')(class="sHeaderTimer__bg")
		+e.content
			.container
				+e.top-img
					img(src="img/@2x/footer-logo.png" alt="")
				+b.section-title.text-center
					h2 Закажи яркий букет для любимого учителя
					p до 1 сентября осталось всего
				+e.timer-box.timer-box-js
					span.days 00
					span.hours 00
					span.minutes 00
					span.seconds 09
				.text-center
					+e.A.btn(href='#') Выбрать букет

mixin sHeaderTimer-09()
	// start sHeaderTimer
	+b.SECTION.sHeaderTimer--09#sHeaderTimer&attributes(attributes)
		+pic('header-timer-new-year.jpg')(class="sHeaderTimer__bg")
		+e.bg-snow.bg-snow-js
		+e.content
			.container
				+b.section-title.text-center
					h2 До Нового года осталось совсем немного
					p
						| Желаем Вам радости, волшебства момента и настоящего
						| праздника в приближающуюся Новогоднюю ночь!
				+e.timer-box.timer-box-js
					span.days 00
					span.hours 00
					span.minutes 00
					span.seconds 09
				.text-center
					+e.A.btn(href='#') Свяжитесь с нами