mixin sOwner()
	// start sOwner
	+b.SECTION.sOwner.section.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')#sOwner&attributes(attributes)
		+pic('owner-portrait.jpg')(class="sOwner__bg")
		+e.wraper
			.container
				+b.section-title
					h2
						|Привет, меня зовут
						br
						|Ксения Соколова
					p Вы сталкивались с проблемой выбора подарка для мужчины?
					p И я тоже! Более того, если близкому человеку подарок подобрать легче, то коллеге или партнеру по бизнесу – караул. Я не раз и не два участвовала в мозговых штурмах накануне 23 февраля. А что уж говорить про выбор подарка к дню рождения шефа!
					p Теперь решение найдено. Яркий и жесткий букет, выделит дарителя, подчеркнет достоинства одаряемого и будет стоять. Стоять долго, стоять как надо.


	// end sOwner