mixin sOwner()
	// start sOwner
	+b.SECTION.sOwner.section.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')#sOwner&attributes(attributes)
		+pic('owner-portrait.jpg')(class="sOwner__bg")
		+e.wraper
			.container
				+b.section-title
					h2
						| Привет, меня зовут
						br
						| Ксения Соколова, я флорист-фитодизайнер, основательница студии авторской лесной флористики Зверобой.
					p Вы сталкивались с проблемой выбора подарка для мужчины?
					p И я тоже! Более того, если близкому человеку подарок подобрать легче, то коллеге или партнеру по бизнесу – караул. Я не раз и не два участвовала в мозговых штурмах накануне 23 февраля. А что уж говорить про выбор подарка к дню рождения шефа!
					p Поэтому в 2017 году студия Зверобой начала свой путь с коллекции мужских и бизнес букетов. С тех пор наши букеты были подарены долее чем 3 000 мужчин самых различных профессий, статусов, возрастов, характеров.
					p Мы страстно изобретаем букеты - брутальные и колючие, жесткие и дерзкие. Наши букеты с мужским характером полны ароматов пряных трав. Они живут в сердце и жилищах мужчин долго. Разные, как характеры наших клиентов.
					p Сейчас мы собираем и женские букеты с нашей авторской лесной изюминкой, а также оформляем мероприятия и жилые пространства.
					p Букеты и композиции наполнены травами и растениями, ветками и шишками. Они бурлят непокорностью хвои и суккулентов и пахнут лесом, наполняют комнату ароматом мха и эвкалиптовой рощи, воскрешают в памяти чудесные воспоминания о лете, прогулках на природе, подберезовиках в увесистых корзинах и сосновой смоле в летнем мареве.
					p Мы развиваемся и несем красоту в города, дома и сердца людей.
					p Теперь я точно знаю, что
					p Природа необходима каждому из нас!
	// end sOwner