html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	overflow-x: hidden; 
	&.fixed { 
		overflow: hidden;
	}
}

.pixel-perfect {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 428.3vh;
	background-repeat: no-repeat;
	opacity: 0;
	//opacity: 0.7;
}

 
body,
html {
	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
}


.section {
	@include bgs; 
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title { 
	padding-bottom: var(--sTPB);

	h2{
		font-family: $mono;
		font-weight: 600;

		font-size: rem(30);
		@include media-breakpoint-up(md){
			font-size: rem(46);
		}
		//letter-spacing: 1px;
		line-height: 1.5;
	}
	*:last-child{
		margin-bottom: 0;
	}
}

body {
	-webkit-font-smoothing: antialiased;//??
	min-width: 320px;
	position: relative;
	width: 100%;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}

	&.fixed2 {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;
	}

}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1); 
	@include mt;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}

	@include media-breakpoint-up(lg) {}


	// --swiperArrowPosition: -15px; 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top; 
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}
//btn
.btn{
	text-transform: uppercase;
	@include mt();
}

.light-g-btn-frame{
	@extend .btn;
	@extend .btn-light;

	padding: 20px 60px;
	font-size: rem(16px);
	font-weight: bold;
	@include mt();

	border: 3px solid $black;
	background-color: $light-green;
	&:hover{
		border: 3px solid $black;
		background-color: $light-green;
		box-shadow: 0 0 18px -5px darken($light-green, 50);
	}
}

//pugin-frame
.pugin-frame, .pugin-frame-dark{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.swiper-pagination-bullet{
		margin: 0 5px;
		width: 8px;
		height: 8px;
		@include media-breakpoint-up(sm){
			margin: 0 10px;
			width: 10px;
			height: 10px;
		}

		border-radius: 50%;
		border: 2px solid $white;
		@include mt();
		background-color: transparent;

		&-active{
			background-color: $white;
		}
	}
}

.pugin-frame-dark{
	.swiper-pagination-bullet{

		border: 2px solid $body-color;
		&-active{
			background-color: $body-color;
		}
	}
}

//fancy-box
.fancybox-bg {
	&.white-bg{
		background-color: rgba($white, .7);
	}
	//opacity: 0.5;
}


//arrow
.arrow{
	display: flex;
	align-items: center;
	justify-content: center;

	img{
		max-width: 90%;
		width: auto;
		height: auto;
	}
}

.swiper-controll-frame{
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);

	outline: none !important;
	border: none !important;
	box-shadow: none !important;

	width: 24px;
	height: 24px;
	@include media-breakpoint-up(md){
		width: rem(40px);
		height: rem(40px);
	}
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background-color: $white;

	&:hover{
		box-shadow: 0 0 10px -5px $white;
		.icon{
			transform: scale(1.1);
		}
	}

	.icon{
		@include mt();
		color: transparent;

		font-size: 11px;
		@include media-breakpoint-up(md){
			font-size: rem(20px);
		}
		stroke: $danger;
		stroke-width: 2px;
	}
}

.container{
	@include media-breakpoint-down(sm){
		padding-left: 15px;
		padding-right: 15px;
	}
}

//.scroll-top btn
.scroll-top{
	position: fixed;
	z-index: 100;
	@include mt();

	transform: translateX(-160px);
	&.active{
		transform: translateX(0);
	}

	&:hover{
		img{
			//transform: scale(1.05);
			//animation: flip .5s 1;
			animation: flip .6s 1;
		}
	}
	img{
		@include mt();
	}

	bottom: rem(24px);
	left: rem(20px);

	cursor: pointer;
	width: rem(50px);
	height: rem(50px);
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
}
//.fb-btn
.fb-btn{
	position: fixed;
	z-index: 100;
	top: 50%;
	transform: translateY(-50%);
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(52);
	height: rem(52);
	animation: fadeIn .8s 1 .0s;

	@include mt();
	background-color: $fb-blue;
	&:hover{
		background-color: darken($fb-blue, 4);
		img{
			transform: scale(1.1);
		}
	}

	img{
		@include mt();
		width: 28px;
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}
}

//.call-btn
.call-btn{
	cursor: pointer;
	position: fixed;
	z-index: 100;

	bottom: 10px;
	right: 10px;
	@media (min-height: 600px) {
		bottom: 20px;
		right: 20px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(60);
	height: rem(60);
	border-radius: 50%;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	animation: rotateScaleAnim 1.2s infinite .0s ease-in-out;

	@include mt();
	background-color: $deep-yellow;
	&:hover{
		background-color: darken($deep-yellow, 4);
		animation: none;
	}

	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		@include mt();
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}

	//change view
	img:first-child{
		width: 30px;
		height: auto;
		opacity: 1;
	}
	img:last-child{
		width: 16px;
		opacity: 0;
	}
	&.active{
		background-color: $white;
		animation: none;

		&:hover{
			box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
			img{
				transform: translateY(-50%) translateX(-50%) scale(1.2) rotate(90deg);
			}
		}
		img:first-child{
			opacity: 0;
		}
		img:last-child{
			opacity: 1;
		}
	}
}
//call btn anim
@keyframes rotateScaleAnim{
	from{
		transform: rotate(0) scale(1);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	}
	25%{
		transform: rotate(5deg) scale(1.05);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.33);
	}
	50%{
		transform: rotate(0deg) scale(1);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	}
	75%{
		transform: rotate(-5deg) scale(1.05);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.33);
	}
	to{
		transform: rotate(0) scale(1);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	}
}

.cart-btn{
	position: fixed;
	z-index: 98;

	bottom: 10px;
	right: 80px;
	@media (min-height: 600px) {
		bottom: 20px;
		right: 100px;
	}

	width: rem(80);
	height: rem(80);

	&__inner{
		width: 100%;
		height: 100%;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		@include mt();
		background-color: $white;

		&:hover{
			transform: scale(1.1);
		}

		cursor: pointer;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.2);

		.icon{
			@include mt();
			width: 40px;
			height: auto;
			max-height: 100%;
			max-width: 100%;
			stroke: #000;
			stroke-width: 2px;
			color: transparent;
		}
	}

	&__num{
		position: absolute;
		padding: rem(5);
		min-width: rem(30);
		height: rem(30);
		border-radius: rem(15);

		//txt
		color: $white;
		font-weight: 600;
		background-color: $crimson;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		bottom: -3px;
		right: -3px;
	}

	&:hover{
		.cart-btn__sum{
			//transform: scaleX(1);
			opacity: 1;
			animation: fadeInRight .3s 1 ease-in-out;
		}
	}
	&__sum{
		position: absolute;
		z-index: -1;
		right: 130%;
		top: calc(50% - 18px);
		background: $brown;
		color: $white;
		font-size: rem(15px);

		white-space: nowrap;
		padding: rem(5px) rem(13px);

		height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 3px;
		@include mt();
		//transform: scaleX(0);
		opacity: 0;
		transform-origin: 100% 100%;

		&:after{
			position: absolute;
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9px 0 9px 10px;
			border-color: transparent transparent transparent $brown;
		}
	}
}

//
.btn-green-dark-frame{
	@extend .btn;
	@extend .btn-success;

	padding: 18px 60px;
	color: $white;
	font-weight: bold;

	background-color: darken($toxic-green, 10);
	border: 1px solid darken($toxic-green, 10);
	&:hover{
		background-color: darken($toxic-green, 5);
		border: 1px solid darken($toxic-green, 5);
	}
}

.arrow{
	margin-bottom: rem(30);
	@include media-breakpoint-up(lg){
		margin-bottom: rem(45);
	}
}