$default-font: 'Open Sans';
$addr: '../fonts/';
$file-format: woff2 woff;

$mono: 'Georgia';

@include font-face ($default-font, $addr + "OpenSans-Light/OpenSans-Light", 300, $file-formats: $file-format);
@include font-face ($default-font, $addr + "OpenSans-Regular/OpenSans", 400,$file-formats: $file-format);
@include font-face ($default-font, $addr + "OpenSans-Semibold/OpenSans-Semibold", 600, $file-formats: $file-format);
@include font-face ($default-font, $addr + "OpenSans-Bold/OpenSans-Bold", 700, $file-formats: $file-format);

//

//@include font-face ($mono, $addr + "Georgia-SemiBold/Georgia-SemiBold", 600, $file-formats: $file-format);

@include font-face ($mono, $addr + "Georgia-Regular/Georgia-Regular", 300, $file-formats: $file-format);
@include font-face ($mono, $addr + "Georgia-Regular/Georgia-Regular", 400, $file-formats: $file-format);
@include font-face ($mono, $addr + "Georgia-Bold/Georgia-Bold", 600, $file-formats: $file-format);
@include font-face ($mono, $addr + "Georgia-Bold/Georgia-Bold", 700, $file-formats: $file-format);


// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold