mixin sWeMake()
	// start sWeMake
	+b.SECTION.sWeMake.section#sWeMake&attributes(attributes)
		.container
			+arrowStrip()
			+b.section-title.text-center
				h2 Мы оформляем
			+e.row.row
				+weMakeItem(1, 'Офисы')(class="col-lg-4 col-sm-6")
					| Творческое новогоднее оформление в едином стиле очень важно для рабочего настроя сотрудников и посетителей офиса. Оно помогает поднять корпоративный дух, ощутить причастность к компании, а также произвести солидное впечатление на деловых партнеров и клиентов. И согласитесь, что на рабочем месте просто очень приятно вдыхать аромат хвои, эвкалипта, апельсинов и радовать взгляд настоящей изящной елочкой и зимними букетами от профессиональных флористов.
				+weMakeItem(2, 'Рестораны')(class="col-lg-4 col-sm-6")
					| В ресторанах и кафе изысканное новогоднее оформление создает атмосферу настоящего уюта. Прекрасные хвойные композиции и венки с пряным ароматом создадут настолько домашнюю и волшебную атмосферу, что из такого кафе не захочется уходить, а красивые фотографии из него будут разлетаться по всем соцсетям, привлекая новых клиентов. В этом преимущество профессионального новогоднего оформления перед самодеятельным, которое, наоборот, может оттолкнуть от себя своей старомодностью и неуместностью.
				+weMakeItem(3, 'Магазины')(class="col-lg-4 col-sm-6")
					| Очень важно новогоднее оформление и в магазинах. В период праздников все устремляются за подарками для близких, поэтому проводят немало времени за покупками. Так что важно создать приятную сказочную атмосферу и настроить покупателей на позитивный лад, чтобы они задержались в магазине подольше и гарантированно ушли с покупками.
				+weMakeItem(4, 'Входные группы')(class="col-lg-4 col-sm-6")
					| Мы выполняем новогоднее оформление входных дверей еловыми ветками, гирляндами или изящными новогодними венками, а также высокими напольными композициями. В готовый комплект входят гирлянда вокруг двери и 2 напольные композиции. Стоимость новогоднего оформления входной группы: от 45 тыс. рублей, возможны разные варианты декора с учётом Вашего бюджета.
				+weMakeItem(5, 'Ресепшн')(class="col-lg-4 col-sm-6")
					| Благодаря прекрасным новогодним композициям, гирляндам из шаров и декора праздничная атмосфера на рабочем месте Вам гарантирована. Для зоны ресепшн офиса предусмотрены: композиция на стол,
					| ёлка и гирлянда с шарами и декором, стоимость данного набора от 60 тысяч рублей, возможны разные варианты оформления с учётом Вашего бюджета.
				+weMakeItem(6, 'Украшение елок')(class="col-lg-4 col-sm-6")
					| Какой Новый год без нарядной ёлки? Установка новогодней ели осуществляется с учётом всех Ваших пожеланий по каждому элементу декора. Данная услуга представляет собой стандартную ель 2 метра, украшенную новогодними игрушками и декором, стоимость ели от 45 тысяч рублей, возможны другие варианты ёлки с учётом параметров пространства, бюджета и цветовой гаммы Вашего офиса.
	// end sWeMake

mixin weMakeItem(imgNum, titleTxt)
	+b.we-make-col&attributes(attributes)
		+e.A.item(href="#")
			+e.title=titleTxt
			+e.img
				img(loading="lazy" src=`img/@2x/we-make-${imgNum}-1.jpg` alt="")
				img(loading="lazy" src=`img/@2x/we-make-${imgNum}-2.jpg` alt="")
			+e.txt
				block
			+e.btn Узнать подробности