// start .headerBlock
.headerBlock {
	padding: 0;
	&__slider{
		//default
		.swiper-container{
			position: relative;
		}
		.swiper-wrapper{}

		.swiper-slide{
			height: auto;
			min-height: 400px;
			position: relative;
			z-index: 1;

			&.woman-slide{
				min-height: 450px;
				background-color: $black;
				img{
					opacity: .6;
				}
			}
		}
		//pugin
		.header-pugin{
			//background-color: red;
			width: 100%;
			height: 60px;
			bottom: 0;
			left: 0;

			position: absolute;
			z-index: 10;
			@extend .pugin-frame;

		}
		//prev,next
		.header-prev,
		.header-next {
			@extend .swiper-controll-frame;
		}

		.header-prev{
			left: 6px;
			@include media-breakpoint-up(lg){
				left: 30px;
			}
		}
		.header-next{
			right: 6px;
			@include media-breakpoint-up(lg){
				right: 30px;
			}
		}
	}

	&__img-cont{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__container{
		height: 100%;

		padding: 0 15px;
		@include media-breakpoint-up(sm){
			padding: 0 40px;
		}
		@include media-breakpoint-up(md){
			padding: 0 rem(50);
		}
		@include media-breakpoint-up(lg){
			padding: 0 rem(70);
		}
		@include media-breakpoint-up(xl){
			padding: 0 rem(100);
		}
	}
	&__content{
		padding: rem(68) 0 rem(60) 0;

		display: flex;
		min-height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}


	&__content.blue-txt{
		p{
			font-size: rem(14px);
			//color: $dark-purple;
			color: $white;
			text-transform: uppercase;
			font-weight: 700;
			//text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.0);
			margin-bottom: rem(20);
		}
		h4{
			font-size: rem(26px);
			text-align: left;
			//color: $dark-blue;
			color: $white;
			line-height: 1.55;
			font-weight: 700;
		}
	}
	&__content.white-txt{
		text-align: center;
		h4{
			font-weight: 700;
			font-size: rem(30px);
			color: $white;
			text-transform: uppercase;
		}
		p{
			font-size: rem(22px);
			color: $white;
			font-weight: 300;
		}
	}
	&__content.date-txt{
		text-align: center;
		h4{
			color: $white;

			font-size: rem(40px);
			@include media-breakpoint-up(md){
				font-size: rem(52px);
			}

			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&__content.mans-flowers{
		text-align: center;
		h4{
			color: $white;

			font-size: rem(40px);
			@include media-breakpoint-up(md){
				font-size: rem(52px);
			}
			font-weight: 700;
			padding-bottom: 1px;
			text-transform: uppercase;
		}
		p{
			color: $yellow;
			font-size: rem(32px);
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	//woman
	&__content.woman-summer{
		color: $white;
		text-align: right;

		display: flex!important;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		.headerBlock__btn-box{
			text-align: right;
		}

		h4{
			font-weight: 700;
			font-size: rem(24);
			margin-bottom: rem(35);
		}
		p{
			font-weight: 700;
			font-size: rem(20);
			margin-bottom: rem(60);
		}
	}
	&__content.woman-surprise{
		color: $white;
		text-align: right;

		display: flex!important;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		.headerBlock__btn-box{
			text-align: right;
		}

		h4{
			font-weight: 700;
			font-size: rem(30);
			@include media-breakpoint-up(md){
				font-size: rem(52);
			}
			margin-bottom: rem(36);
		}
		p{
			font-weight: 300;
			font-size: rem(18);
			margin-bottom: rem(60);
		}
	}
	&__content.woman-poem{
		color: $white;
		text-align: center;

		display: flex!important;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.headerBlock__btn-box{
			text-align: right;
		}

		h4{
			font-family: $mono;

			font-weight: 600;
			font-size: rem(30);
			@include media-breakpoint-up(md){
				font-size: rem(36);
			}
			margin-bottom: rem(36);
		}
		p{
			font-family: $mono;
			font-size: rem(22);
			line-height: 1;
			font-weight: 300;
		}

	}
	&__content.woman-cactus{
		color: $white;
		text-align: right;

		display: flex!important;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;

		.headerBlock__btn-box{
			text-align: right;
		}

		h4{
			font-weight: 600;
			font-size: rem(30);
			@include media-breakpoint-up(md){
				font-size: rem(52);
			}
			margin-bottom: rem(36);
		}
	}
	//05
	&__content.fito-wall{
		text-align: right;
		h4{
			font-size: rem(24px);
			@include media-breakpoint-up(sm){
				font-size: rem(30px);
			}
			@include media-breakpoint-up(lg){
				font-size: rem(34px);
			}

			font-weight: 700;
			text-transform: uppercase;
			color: $white;
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.0);
		}
		p{
			color: $white;
			font-size: rem(20px);
			line-height: 1.55;
			font-weight: bold;
		}

		.headerBlock__btn-box{
			text-align: right;
		}
	}

	&__content.fito-bouquet{
		text-align: right;
		h4{
			font-size: rem(24px);
			@include media-breakpoint-up(sm){
				font-size: rem(30px);
			}
			@include media-breakpoint-up(lg){
				font-size: rem(52px);
			}

			font-weight: 700;
			text-transform: uppercase;
			color: $white;
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.0);
		}
		p{
			color: $white;
			font-size: rem(20px);
			line-height: 1.55;
			font-weight: bold;
		}

		.headerBlock__btn-box{
			text-align: right;
		}
	}
	&__content.fito-health{
		text-align: center;
		h4{
			font-size: rem(24px);
			@include media-breakpoint-up(sm){
				font-size: rem(30px);
			}
			@include media-breakpoint-up(lg){
				font-size: rem(52px);
			}

			font-weight: 700;
			text-transform: uppercase;
			color: $white;
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.0);
		}
		p{
			color: $white;
			font-size: rem(20px);
			line-height: 1.55;
			font-weight: bold;
		}

		.headerBlock__btn-box{
			text-align: center;
		}
	}
	//07
	&__content.composition-pot{
		text-align: center;
		h4{
			font-size: rem(20px);
			@include media-breakpoint-up(lg){
				font-size: rem(22px);
			}
			font-weight: 700;
			text-transform: uppercase;
			color: $white;
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.0);
		}
		p{
			color: $white;
			font-size: rem(20px);
			line-height: 1.55;
			font-weight: bold;
		}

		.headerBlock__btn-box{
			text-align: center;
		}
	}
	&__content.composition-sensetive{
		text-align: right;
		h4{
			font-size: rem(24px);
			@include media-breakpoint-up(lg){
				font-size: rem(28px);
			}
			font-weight: 700;
			text-transform: uppercase;
			color: $white;
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.0);
		}
		p{
			color: $white;
			font-size: rem(20px);
			line-height: 1.55;
			font-weight: 300;
		}

		.headerBlock__btn-box{
			text-align: right;
		}
	}
	//08
	&__content.wedding-uniq{
		color: $white;
		h4{
			font-size: rem(30px);
			@include media-breakpoint-up(lg){
				font-size: rem(52px);
			}
			font-weight: 600;
		}
		p{
			font-weight: 300;
			font-size: rem(18);
			@include media-breakpoint-up(sm){
				font-size: rem(20);
			}
		}

		text-align: right;
		.headerBlock__btn-box{
			text-align: right;
		}
	}
	&__content.wedding-dream{
		color: $white;
		h4{
			font-size: rem(30px);
			@include media-breakpoint-up(lg){
				font-size: rem(52px);
			}
			font-weight: 600;
		}
		p{
			font-weight: 700;
			font-size: rem(18);
			@include media-breakpoint-up(sm){
				font-size: rem(20);
			}
		}
		text-align: left;
		.headerBlock__btn-box{

		}
	}
	&__content.wedding-bride{
		color: $white;
		h4{
			font-size: rem(30px);
			@include media-breakpoint-up(lg){
				font-size: rem(52px);
			}
			font-weight: 600;
		}
		p{
			font-weight: 300;
			font-size: rem(18);
			@include media-breakpoint-up(sm){
				font-size: rem(20);
			}
		}
		text-align: right;
		.headerBlock__btn-box{
			text-align: right;
		}
	}
	&__content.wedding-bridesmaid, &__content.wedding-crown{
		color: $white;
		h4{
			font-size: rem(30px);
			@include media-breakpoint-up(lg){
				font-size: rem(52px);
			}
			font-weight: 600;
		}
		p{
			font-weight: 300;
			font-size: rem(18);
			@include media-breakpoint-up(sm){
				font-size: rem(20);
			}
		}
		text-align: right;
		.headerBlock__btn-box{
			text-align: right;
		}
	}
	//

	//btn-box
	&__btn-box{
		text-align: center;
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		border: 1px solid $white !important;
		box-shadow: none !important;
		outline: none !important;
		color: $white;

		@include mt();
		&:hover{
			background-color: $danger;
			color: $white;
		}
		font-weight: 600;
		text-transform: uppercase;
		padding: rem(17px) rem(60px);
	}

	&__btn-red{
		@extend .btn;
		@extend .btn-danger;

		padding: 18px 60px;
		color: $white;
		font-weight: bold;

		background-color: darken($crimson, 10);
		border: 1px solid darken($crimson, 10);
		&:hover{
			background-color: darken($crimson, 5);
			border: 1px solid darken($crimson, 5);
		}
	}
	&__btn-green{
		@extend .btn-green-dark-frame;
	}
	//08
	&__btn-rounded{
		@extend .btn;
		@extend .btn-success;
		border-radius: rem(20);

		background-color: $dim-green;
		box-shadow: none!important;
		border: none!important;
		color: $white;
		font-weight: 600;
		&:hover{
			background-color: $red;
		}

		padding: rem(10px) rem(15px);
		@include media-breakpoint-up(md){
			padding: rem(19px) rem(65px);
		}
	}
	//09
	&__btn-red-rounded{
		@extend .btn;
		@extend .btn-danger;

		padding: 18px 60px;
		border-radius: rem(20);
		color: $white;
		font-weight: bold;

		background-color: darken($crimson, 10);
		border: 1px solid darken($crimson, 10);
		&:hover{
			background-color: darken($crimson, 5);
			border: 1px solid darken($crimson, 5);
		}
	}

	//
	&__vantage{
		background-color: $light-green;
		padding: rem(44px) 0 rem(30px) 0;
	}
	&__item{
		margin-bottom: rem(30);
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
	}
	&__item-head{
		display: flex;
		align-items: center;
		margin-bottom: rem(12);
	}
	&__item-icon{
		width: rem(35px);
		height: rem(35px);
		margin-right: rem(16);

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__item-title{
		font-family: $mono;
		font-weight: 600;

		font-size: rem(21.5px);
		line-height: 1.35;
	}
	&__item-content{
		font-weight: 300;
		line-height: 1.55;
		font-size: rem(14);
	}
	&__{}
	&__{}
	&__{}
	&__{}
}

// end.headerBlock