mixin sDoubts()
	// start sDoubts
	+b.SECTION.sDoubts.section#sDoubts&attributes(attributes)
		.container
			+arrowStrip
			+b.section-title.text-center
				h2 Фитодизайн на заказ или готовое решение?
			+e.row.row
				+doubtItem(1, 'Готовые решения')
					| Композиции из стабилизированного мха, созданные нашими флористами, будут доставлены в ваш дом или офис в течение суток. Они просты и элегантны, поэтому великолепно впишутся в любой интерьер. Выберите подходящий размер и добавьте картину или остров изо мха для фитодизайна в корзину — и в течение часа менеджер свяжется для уточнения деталей заказа.
				+doubtItem(2, 'Стена из ягеля')
					| Мы разработаем уникальное решение, учитывающее площадь и форму стены, размещение логотипа компании, особые элементы дизайна. Мы многократно прорабатывали оформление зон ресепшен, входных групп, пространств для отдыха и сможем предложить броский и неординарный фитодизайн, который выделит вашу компанию.
	// end sDoubts

mixin doubtItem(imgNum, name)
	.col-md-6
		+e.item
			+e.item-name=name
			+e.item-link(href='#')
				+e.img
					img(loading="lazy" src=`img/@2x/sDoubt-${imgNum}.jpg` alt="")
				+e.txt
					block
				.prod-col__buy-btn Подробнее
