// start .sTeacherFrame
.sTeacherFrame {
	--sPT: #{rem(30)};
	--sPB: #{rem(30px)};

	--sTPB: #{rem(30)};
	@include media-breakpoint-up(lg){
		--sTPB: #{rem(90)};
	}

	.section-title{
		color: $black;

		h2{
			font-size: rem(30px);
			@include media-breakpoint-up(md){
				font-size: rem(36px);
			}

			margin-bottom: rem(18px);
			font-family: $arial;
		}
		p{
			font-size: rem(20px);
			line-height: 1.55;
			font-family: $arial;
		}
	}

	.arrow{
		margin-bottom: 15px;
	}

} // end.sTeacherFrame