mixin sTeacherFrame()
	// start sTeacherFrame
	+b.SECTION.sTeacherFrame.section#sTeacherFrame&attributes(attributes)
		.container
			block
	// end sTeacherFrame

mixin smallArrow()
	+b.arrow
		img(loading="lazy" src="img/@2x/small-arrow.png" alt="")