mixin sPhilocophy()
	// start sPhilocophy
	+b.SECTION.sPhilocophy.section#sPhilocophy&attributes(attributes)
		.container.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
			+b.arrow
				img(loading="lazy" src="img/@2x/arrow-img.png" alt="")
			+b.section-title.text-center
				h2 Философия
			+e.row.row
				+e.left-col.col-md-6
					p Страстно изобретаем букеты - брутальные и колючие, жесткие и дерзкие. Наши букеты с мужским характером полны ароматов пряных трав. Они живут в сердце и жилищах мужчин долго. Разные, как характеры наших клиентов.
					p Наши букеты наполнены травами и растениями, ветками и шишками. Букеты бурлят непокорностью хвои и суккулентов и пахнут лесом. Букет наполняет комнату ароматом мха и эвкалиптовой рощи, воскрешает в памяти чудесные воспоминания о лете, прогулках на природе, подберезовиках в увесистых корзинах и сосновой смоле в летнем мареве.
				+e.right-col.col-md-6
					+e.rc-inner
						h4 Мужской букет
						h4 Брутальный и колючий, терпкий и дерзкий. Стойкий, насыщенный и жесткий
						h4 Букет, который цепляет
						h4 Букет, который запоминается
	// end sPhilocophy