mixin sSucculents()
	// start sSucculents
	+b.SECTION.sSucculents.section#sSucculents&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Букеты из суккулентов
			+e.sub-title.text-center Мужские
			+e.row.row
				+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990', 'ХИТ')(class='col-sm-6 col-lg-4')
					+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
						| Яркий, как ваш школьник, радостный, как последние дни лета, удобный - таким должен быть подарок учителю на 1 сентября.
				+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990')(class='col-sm-6 col-lg-4')
					+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
						| Крафтовая коробка с яркими цветами осени - отличный подарок учителю.
				+prodItemCustom()(class='col-sm-6 col-lg-4')
			+e.sub-title.text-center Женские
			+e.row.row
				+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990', 'ХИТ')(class='col-sm-6 col-lg-3')
					+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
						| Яркий, как ваш школьник, радостный, как последние дни лета, удобный - таким должен быть подарок учителю на 1 сентября.
				+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990', 'ХИТ')(class='col-sm-6 col-lg-3')
					+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
						| Яркий, как ваш школьник, радостный, как последние дни лета, удобный - таким должен быть подарок учителю на 1 сентября.
				+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990', 'ХИТ')(class='col-sm-6 col-lg-3')
					+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
						| Яркий, как ваш школьник, радостный, как последние дни лета, удобный - таким должен быть подарок учителю на 1 сентября.
				+prodItemGalery('teacher', 1, 'ЩЕДРАЯ ОСЕНЬ', '4 990', 'ХИТ')(class='col-sm-6 col-lg-3')
					+teacherDescr('ОХОТНИК', '4 990')(class="text-center")
						| Яркий, как ваш школьник, радостный, как последние дни лета, удобный - таким должен быть подарок учителю на 1 сентября.
			+e.sub-title.text-center Свадебные
			+e.row.row
				+teacherSampleRow()
				+teacherSampleRow()
			+e.sub-title--mono.text-center Мужские наборы к 23 февраля
			+arrowStrip()
			+e.row.row
				+teacherSampleRow04()
				+teacherSampleRow04()
	// end sSucculents