mixin sBlogBouquet()
	// start sBlogBouquet
	+b.SECTION.sBlogBouquet.section#sBlogBouquet&attributes(attributes)
		.container
			+arrowStrip
			+b.section-title.text-center
				h2 Какие букеты цветов можно подарить мужчине
				p В интернет-магазине «Зверобой» можно найти множество ярких авторских мужских букетов из цветов, вдохновение для которых наши флористы черпали в дикой природе, бесконечных лесах и необузданном океане. Каждый из них станет прекрасным подарком для мужчины по любому поводу и надолго останется у него в памяти. Если же вы теряетесь с выбором, обратите внимание на наши популярные мужские букеты.
		+e.items
			+blogBouquetItem('«Охотник»')
				| В меру строгий, но очень разнообразный букет в зеленых тонах, в котором изящно сочетаются морозник, эрингиум, ветки, розы и эхеверия. Он олицетворяет собой свежесть утреннего леса, по которому терпеливый охотник тихо ступает в поисках добычи. Умопомрачительный запах и колючая текстура делают этот букет идеальным подарком для сдержанных юбиляров.
			+blogBouquetItem('«Прометей»')
				| Подарите своему близкому мужчине огонь, запечатленный в этом букете. Яркие солнечные подсолнухи, эхинацеи, артишоки и шишки — это настоящий взрыв, который придется по душе жизнерадостным и оптимистичным людям.
			+blogBouquetItem('«Ацтек»')
				| Экзотическое и необузданное буйство красок из стрелиции, протеи, физалиса и синих перьев. Этот букет для самых ярких мужчин, неудержимых мечтателей и путешественников, которые всегда несут отголосок дальних стран в своей душе.
			+blogBouquetItem('«Тореадор»')
				| Яркий бордовый букет с амариллисом и плодами зверобоя, который символизирует страсть, несокрушимую смелость в любых обстоятельствах и навевает ассоциации с ярким южным солнцем и раскаленным песком арены.
			+blogBouquetItem('«Викинг»')
				| В отличие от предыдущих, это более северный букет, подходящий для тех мужчин, кто грезит не экзотическими странами, а бесконечными фьордами. Он состоит из нелюмбо, брунии и листьев сенецио и несет на себе отпечаток северных ветров. Сдержанный и элегантный, он хорошо подойдет в качестве подарка на юбилей или другой важный праздник для начальника, делового партнера, коллеги, мужа.
		.container
			+arrowStrip
			+e.lower-txt Если вы не нашли букет своей мечты в каталоге, то вы можете заказать индивидуальную композицию по своим пожеланиям. Также к каждому букету мужских цветов в подарок можно заказать уникальный стих от нашего поэта. Просто оставьте заявку на сайте: наш менеджер свяжется с вами в течение часа, и вы сможете описать ему характер и вкусы получателя букета. Композиции доставляются по Москве к точному времени. Сделайте незабываемый подарок с интернет-магазином «Зверобой»!
	// end sBlogBouquet

mixin blogBouquetItem(titleTxt)
	+e.item-container.container
		+e.item
			+e.txt-col
				h4=titleTxt
				p
					block
				+e.A.btn(href="#") Заказать
			+e.slider-col
				+e.slider--js
					.swiper-container.blog-buq-slider-js
						.swiper-wrapper
							+blogBouquetItemSlide(1)
							+blogBouquetItemSlide(2)
						.blog-buq-prev.blog-buq-prev-js.d-none.d-xl-flex
							+icon('chevron-left2')
						.blog-buq-next.blog-buq-next-js.d-none.d-xl-flex
							+icon('chevron-right2')
						.blog-buq-pugin.blog-buq-pugin-js
			+b.blured-line

mixin blogBouquetItemSlide(imgNum)
	.swiper-slide
		+e.img
			img.swiper-lazy(src='#' data-src=`img/@2x/hitman-1-${imgNum}.jpg` alt="")
