extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sHitMan/_sHitMan.pug
include ../blocks/sHitWoman/_sHitWoman.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sHowWork/_sHowWork.pug
include ../blocks/sConvinuent/_sConvinuent.pug
include ../blocks/sFeedback/_sFeedback.pug
include ../blocks/sOwner/_sOwner.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPhilocophy/_sPhilocophy.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sSeo/_sSeo.pug
//-2
include ../blocks/sHeaderTimer/_sHeaderTimer.pug
include ../blocks/sTeachersPresent/_sTeachersPresent.pug
include ../blocks/sTeacherFrame/_sTeacherFrame.pug
include ../blocks/sMoreFlowers/_sMoreFlowers.pug
include ../blocks/sWorkVantage/_sWorkVantage.pug

block variables
	- let  mainPage= null
block title
	- let  title= '02-teachers-day'
	title= title
block pagecontent
	+header()
		+top-nav()
		//+topLine()
	+sHeaderTimer()
	+breadcrumb('Главная', 'Оригинальные букеты на 1 сентября')
	+sCatalog-02()
	+sTeachersPresent()
	+sTeacherFrame()
		+smallArrow()
		+b.section-title.text-center
			h2 Особенные букеты
			p
				| Идеально подойдут в подарок для директора школа, завуча или классному руководителю от
				|
				br.d-md-block.d-none
				| родительского коммитета.
		.row
			+teacherSampleRow()
			+teacherSampleRow()
			+teacherSampleRow()
	+sTeacherFrame()
		+smallArrow()
		+b.section-title.text-center
			h2 Любимому учителю
			p
				| Подарите любимому учителю особенный лесной оригинальный букет.
				br
				| Подаруйте преподавателя по случаю дня учителя.
		.row
			+teacherSampleRow()
			+teacherSampleRow()
	+sTeacherFrame()
		+smallArrow()
		+b.section-title.text-center
			h2 Учителю мужчине
			p
				| Мужчины особенно рады цветам, особенно мужским.
				br
				| Каждый букет может быть сделан в коре дерева - ваза больше не нужна!
		.row
			+teacherSampleRow()
			+teacherSampleRow()
	+sMoreFlowers()
	+sWorkVantage()
	+sForm-02()
	+sSeo
		.container
			+e.txt.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				p Если вы предпочитаете отдавать дань обычаям, то наши флористы составят традиционный букет из пионов, роз, дельфиниума или других цветов, но добавят ему уникальную изюминку. Мы любим украшать цветы для учителей эвкалиптом, лагурусом, папоротником или сезонной зеленью — это придает букету невероятную свежесть, легкость и нежность. Особенно хорошо такой букет будет смотреться весной или летом.
				br
				p Отличным вариантом цветов учителю станут сухоцветы. Беззаботный и яркий букет из полевых цветов простоит намного дольше традиционного и станет очень милым украшением рабочего кабинета или класса. А потрясающий аромат лаванды, ромашек и полевых трав будет напоминать о лете, если подарить такой букет осенью.
				br
				p Все букеты мы оформляем в крафтовую бумагу или холщовую ткань. Они подчеркивают красоту цветов для учителя намного лучше пластика и являются экологически чистыми материалами. У нас также можно купить особые варианты в подарок преподавателям от детей: это легкие, с удобными ручками цветочные композиции, которые малышам будет легко нести и вручать. Они доступны по цене, но смотрятся изящно и презентабельно.
				h1 Необычные варианты в подарок преподавателям
				p Если вы ищете необычные цветы на день учителя, то мы можем предложить следующие оригинальные композиции:
				ul
					li
						b
							|	Цветы в корзине.
							|
						span Выглядит такой презент празднично, дорого, но трогательно. Такой букет не нуждается в вазе и украсит собой любое помещение.
					li
						b
							|  Цветы учителю
							|
						a(href='#')
							| в коробке.
							|
						span Восхитительный букет, который особенно уместно будет смотреться как подарок на день рождения.
					li
						b
							| Цветы учителю в кашпо или флорариуме.
							|
						span Изысканный подарок из живых цветов, который надолго останется с его обладательницей.
				br
				p Какую бы композицию вы ни выбрали, мы можем гарантировать, что букет цветов учителю будет уместен в любой ситуации, принесет его получательнице массу положительных эмоций и поможет ей понять, что ее ценят и любят. Также вы можете заказать индивидуальное поздравление или даже стихотворение, которое любимый учитель получит вместе с цветами.
				br
				p Обратите внимание большой выбор композиций для педагогов-мужчин. Смелые, мужественные, изысканные букеты продемонстрируют ваше уважение и признательность.
				p Мы доставляем цветы по Москве и в пределах 10 км от МКАД в день заказа. Просто оставьте заявку на сайте, и мы свяжемся с вами, чтобы обсудить подарок. Вы всегда можете попросить составить букет по вашему желанию, если вы хотите что-то отличное от того, что представлено в каталоге. Интернет-магазин «Зверобой» поможет преподнести в подарок учителю букет цветов, который вызовет яркие чувства и обязательно останется в памяти!
			+e.btn-cont.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				+e.btn.go-top-js Наверх
			+e.green-strip
				p Наши авторские букеты могут отличаться от картинки, так как все цветы уникальны. В зависимости от сезона мы можем на свое усмотрение заменять цветы. Букет будет таким же красивым и стильным, также останется в рамках указанной на сайте цены.
	+sContact()
	+footer()