extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sHitMan/_sHitMan.pug
include ../blocks/sHitWoman/_sHitWoman.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sHowWork/_sHowWork.pug
include ../blocks/sConvinuent/_sConvinuent.pug
include ../blocks/sFeedback/_sFeedback.pug
include ../blocks/sOwner/_sOwner.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPhilocophy/_sPhilocophy.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sSeo/_sSeo.pug
//-2
include ../blocks/sHeaderTimer/_sHeaderTimer.pug
include ../blocks/sTeachersPresent/_sTeachersPresent.pug
include ../blocks/sTeacherFrame/_sTeacherFrame.pug
include ../blocks/sMoreFlowers/_sMoreFlowers.pug
include ../blocks/sWorkVantage/_sWorkVantage.pug
//-3
include ../blocks/sWUnusuall/_sWUnusuall.pug
include ../blocks/sWomanFrame/_sWomanFrame.pug
include ../blocks/sVase/_sVase.pug
include ../blocks/sFlowerPot/_sFlowerPot.pug
include ../blocks/sVegeterian/_sVegeterian.pug

block variables
	- let  mainPage= null
block title
	- let  title= '04-1september'
	title= title
block pagecontent
	+header()
		+top-nav()
		//+topLine()
	+sHeaderTimer-04()
	+breadcrumb('Главная', 'Авторские букеты')
	+sTeachersPresent-04()
	+sTeacherFrame()
		+smallArrow()
		+b.section-title.text-center
			h2 Особенные букеты
			p
				| Идеально подойдут в подарок для директора школа, завуча или классному руководителю от
				| родительского коммитета.
				br.d-md-block.d-none
				| родительского коммитета.
		.row
			+teacherSampleRow04()
	+sTeacherFrame()
		+smallArrow()
		+b.section-title.text-center
			h2 Любимому учителю
			p
				| Подарите любимому учителю особенный лесной оригинальный букет.
				br
				| Подаруйте преподавателя по случаю дня учителя.
		.row
			+teacherSampleRow()
			+teacherSampleRow()
			+teacherSampleRow()
			+teacherSampleRow()
			+teacherSampleRow()
	+sTeacherFrame()
		+smallArrow()
		+b.section-title.text-center
			h2 Учителю мужчине
			p
				| Мужчины особенно рады цветам, особенно мужским.
				br
				| Каждый букет может быть сделан в коре дерева - ваза больше не нужна!
		.row
			+teacherSampleRow()
			+teacherSampleRow()
	+sMoreFlowers()
	+sWorkVantage()
	+sForm-02()
	+sSeo
		.container
			+e.txt.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				h1 Букеты для первоклашек: легкие и яркие
				p Каждому из нас знакома следующая картина — первая школьная линейка и малыши-первоклассники с букетами выше своего роста. Это уже давно неактуально, потому что первоклашкам, особенно девочкам, тяжело нести такие огромные букеты в руках, к тому же они легко могут их уронить или сломать. Наши флористы рекомендуют приобрести миниатюрные оригинальные букеты на 1 сентября в картонном ведерке или коробочке. Их очень легко и удобно нести за специальную ручку, они мало весят, но смотрятся ярко и празднично. Особенно мы любим оформлять в таких композициях нежные облачка гортензий и розы. А красоту цветов дополняют и подчеркивают величественные листья дуба, шишки и нелюмбо.
				br
				p Другой оригинальный вариант букета на 1 сентября — небольшая композиция а-ля «свадебный букет». Их тоже легко нести малышам, а при желании можно даже вставить в карман рюкзака. Очень красивые композиции получаются из подсолнухов — жизнерадостные цветы подарят учителю улыбку и напомнят о жарких летних днях.
				br
				h1 Запоминающиеся букеты для любимых учителей
				p Учителям можно подарить недорогие, лаконичные, но милые и трогательные букеты из подсолнухов, георгинов или сухоцветов: лаванды, ромашки, пшеницы, хлопка. Оригинальные букеты на 1 сентября из сухоцветов будут много месяцев радовать учителя и станут прекрасным украшением класса или его дома.
				br
				p Для классного руководителя, завуча или директора на День знаний на выбор представлены более сложные и роскошные композиции, например, оригинальный букет в деревянном ящике из шикарных бордовых роз в оформлении других цветов. Для него не понадобится ваза, так что его будет удобно поставить на самое видно место класса или кабинета, а потом унести домой.
				br
				h1 Букеты для преподавателей-мужчин
				p Цветы на Первое сентября можно покупать не только женщинам. Мы в «Зверобое» рады представить вам необычные букеты на 1 сентября для учителей-мужчин. Мы составляем букеты для сильной половины человечества с учетом мужского характера, поэтому они получаются в меру брутальными, строгими и фактурными, но вместе с тем такими же красивыми и роскошными, как и женские букеты. Каждую композицию можно оформить в кашпо из настоящей коры дерева, что подчеркнет природное очарование цветов и сделает такой подарок особенно удобным, ведь получателю не придется заботиться о вазе.
				h1 Почему стоит заказать необычные букеты на 1 сентября в «Зверобое»?
				ol
					li
						| Мы работаем исключительно со свежими растениями и приступаем к созданию
						|
						a(href='#') букета цветов для учителя
						|
						| только после обсуждения всех деталей с клиентом.
					li Вы всегда можете выбрать уникальный букет по вашему желанию или изменить композицию представленного в продаже букета, например, добавив в нее любимые цветы учителя.
					li Мы предлагаем доставку по Москве и в пределах 10 км от МКАД в тот же день в любое удобное для вас время.
					li У нас удобная система оплаты — наличными курьеру, онлайн на сайте или по безналичному расчету
				br
				p
					| Заказывайте
					|
					a(href='#') авторские букеты
					|
					| в подарок учителям — и они обязательно произведут сильное впечатление и запомнятся любимым преподавателям!
			+e.btn-cont.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				+e.btn.go-top-js Наверх
			+e.green-strip
				p Наши авторские букеты могут отличаться от картинки, так как все цветы уникальны. В зависимости от сезона мы можем на свое усмотрение заменять цветы. Букет будет таким же красивым и стильным, также останется в рамках указанной на сайте цены.
	+sContact()
	+footer()