extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sHitMan/_sHitMan.pug
include ../blocks/sHitWoman/_sHitWoman.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sHowWork/_sHowWork.pug
include ../blocks/sConvinuent/_sConvinuent.pug
include ../blocks/sFeedback/_sFeedback.pug
include ../blocks/sOwner/_sOwner.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPhilocophy/_sPhilocophy.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sSeo/_sSeo.pug
//-2
include ../blocks/sHeaderTimer/_sHeaderTimer.pug
include ../blocks/sTeachersPresent/_sTeachersPresent.pug
include ../blocks/sTeacherFrame/_sTeacherFrame.pug
include ../blocks/sMoreFlowers/_sMoreFlowers.pug
include ../blocks/sWorkVantage/_sWorkVantage.pug
//-3
include ../blocks/sWUnusuall/_sWUnusuall.pug
include ../blocks/sWomanFrame/_sWomanFrame.pug
include ../blocks/sVase/_sVase.pug
include ../blocks/sFlowerPot/_sFlowerPot.pug
include ../blocks/sVegeterian/_sVegeterian.pug
//-5
include ../blocks/sFitoDesign/_sFitoDesign.pug
include ../blocks/sReadyDes/_sReadyDes.pug
include ../blocks/sPerfect/_sPerfect.pug
include ../blocks/sIdea/_sIdea.pug
include ../blocks/sDoubts/_sDoubts.pug
include ../blocks/sPicturedForm/_sPicturedForm.pug
include ../blocks/sMoreOptions/_sMoreOptions.pug


block variables
	- let  mainPage= null
block title
	- let  title= '05-fitodesign'
	title= title
block pagecontent
	+header()
		+top-nav()
	+headerBlock()
		+e.slider
			.swiper-container.header-slider-js
				.swiper-wrapper
					+headerSlide('05-1', 'ВЫБРАТЬ БУКЕТ', 'fito-wall', 'btnGreen', 'woman-slide')
						h4
							| СТЕНА ИЗ
							br
							|СТАБИЛИЗИРОВАННОГО ЯГЕЛЯ
						p ЭФФЕКТНАЯ ИЗЮМИНКА ВАШЕГО ИНТЕРЬЕРА
					+headerSlide('05-2', 'ВЫБРАТЬ БУКЕТ', 'fito-bouquet', 'btnGreen', 'woman-slide')
						h4
							| БУКЕТ НЕДЕЛИ "ПРОМЕТЕЙ"
						p Закажи со скидкой 10%
					+headerSlide('3', 'ПОЛУЧИТЬ СТИХОТВОРЕНИЕ', 'fito-health', 'btnGreen', 'woman-slide')
						h4 ДЕЛАЙ СВОЕ РАБОЧЕЕ ПРОСТРАНСТВО ЗДОРОВЫМ
						p  Закажи цветок в кашпо за 3 990
				.header-pugin.header-pugin-js
				.header-prev.header-prev-js.d-none.d-sm-flex
					+icon('chevron-left2')
				.header-next.header-next-js.d-none.d-sm-flex
					+icon('chevron-right2')
	+breadcrumb('Главная', 'Стена из мха')
	+sFilters()
	+sFitoDesign()
	+sReadyDes()
	+sPerfect()
	+sIdea()
	+sDoubts()
	+sPicturedForm()
	+sWorkVantage()
	+sMoreOptions()
	+sForm-05()
	+sSeo
		.container
			+e.txt.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				h1 Почему мы выбираем стабилизированный ягель?
				p Мы выполняем фитодизайн помещений при помощи стабилизированного ягеля. Он называется стабилизированным, поскольку вся вода в нем была заменена специальной жидкостью на основе глицерина. В результате растение выглядит, как живое, но все биологические процессы в нем останавливаются.
				br
				p Стена изо мха не требует абсолютно никакого ухода. В ней не заведутся паразиты, она не притягивает пыль. Заказав фитодизайн с использованием ягеля, вы сможете любоваться панелями не менее 5 лет без необходимости обновления. Единственная рекомендация — поддерживать постоянную влажность в помещении в пределах 40-70%. Это выгодно отличает фитодизайн с использованием ягеля от стен с живыми растениями и системами полива.
				br
				p Стабилизированный мох позволяет создавать огромное количество композиций. Например, вы можете заказать разработку логотипа или букв из ягеля, установить дома или в офисе панель необычной формы. Возможно даже создание сувениров с использованием яркого мха. Чтобы узнать больше о возможностях фитодизайна, проконсультируйтесь с нашим менеджером. Мы предложим неординарные решения ваших задач.
				br
				h1 Почему стоит заказать фитодизайн в «Зверобое»
				p
					b · Наши эксперты занимаются фитодизайном в течение многих лет.
					|
					| Мы сможем предложить неординарные и эффектные решения и позаботиться о том, чтобы стена изо мха прослужила долгие годы.
				br
				p
					b · Мы работаем быстро.
					|
					| Фитодизайнер готов выехать на объект для снятия замеров в течение суток после обращения. В наличии всегда есть большое количество мха, поэтому мы приступим к созданию панелей сразу же после утверждения макета.
				br
				p
					b · С нами удобно.
					|
					| Мы подстраиваемся под клиента: назначаем встречу в удобное ему время, учитываем пожелания по проекту, предлагаем три способа оплаты. С юридическими лицами мы подписываем официальный договор и предоставляем все закрывающие документы.
				br
				p Позаботьтесь об имидже компании, обеспечив стильный вид офиса с фитодизайном от «Зверобоя». Свяжитесь с нашим менеджером — и получите выгодное предложение в течение часа!
			+e.btn-cont.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				+e.btn.go-top-js Наверх
			+e.green-strip
				p Наши авторские букеты могут отличаться от картинки, так как все цветы уникальны. В зависимости от сезона мы можем на свое усмотрение заменять цветы. Букет будет таким же красивым и стильным, также останется в рамках указанной на сайте цены.
	+sContact()
	+footer()