mixin sPerfect()
	// start sPerfect
	+b.SECTION.sPerfect.section#sPerfect&attributes(attributes)
		.container
			if block
				block
			else
				+b.section-title.text-center
					h2 ЯГЕЛЬ — ОПТИМАЛЬНЫЙ ВАРИАНТ ДЛЯ ФИТОДИЗАЙНА
				+e.row.row
					+sPerfectItem(1, 'Изюминка')
						| Ягель создает ярко-зеленую, рельефную стену. Он необычный и стильный, мягкий и приятный на ощупь. Стена из ягеля станет элементом имиджа компании.
						|
						br
						|
						| На ней прекрасно будет смотреться логотип.
					+sPerfectItem(2, 'Комфорт')
						| Стена изо мха поглощает громкие звуки, поэтому в шумном холле или офисе открытого типа будет спокойная обстановка. При помощи фитодизайна можно удачно зонировать пространство, делая его уютным и комфортным.
					+sPerfectItem(1, 'Простота')
						|Ягель не требует полива или специального ухода. Нужно только поддерживать влажность воздуха в диапазоне 40-70%. Зеленая стена изо мха экологична, безопасна. Панели легкие, монтаж занимает меньше часа
	// end sPerfect

mixin sPerfectItem(imgNum, title, txt)
	+e.col.col-md-4
		+e.item
			+e.img
				img(loading="lazy" src=`img/@2x/perfect-item-${imgNum}.jpg` alt="")
			+e.txt-cont
				+e.title=title
				+e.txt
					block