mixin sCatalog()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Каталог букетов
				p Какие цветы выбираем сегодня?
			+e.row.row
				+catalogItem(1, 'Мужские букеты', 'Он будет сражен наповал')
				+catalogItem(2, 'Женские букеты', 'Порадуйте любимых')
				+catalogItem(3, 'Компаниям', 'Ваши пожелания - наш закон')
				+catalogItem(3, 'В корзинах и ящиках', 'Ваши пожелания - наш закон')
				+catalogItem(3, 'Сухоцветы', 'Ваши пожелания - наш закон')
				+catalogItem(3, '1 сентября', 'Ваши пожелания - наш закон')
			//+e.row.row
				+smallCatalogItem('Авторские букеты')
				+smallCatalogItem('Букеты на день рождения')
				+smallCatalogItem('Букеты в корзинах')
	// end sCatalog

mixin sCatalog-02()
	// start sCatalog
	+b.SECTION.sCatalog--top-links.section#sCatalog&attributes(attributes)
		.container
			+e.row.row
				+smallCatalogItem('Оригинальные букеты на 1 сентября')

mixin sCatalog-03-1()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+e.row.row
				+smallCatalogItem03('Монобукеты')
				+smallCatalogItem03('Букеты из роз')
				+smallCatalogItem03('Букеты из пионов')
				+smallCatalogItem03('Букет из пионовидных роз')

				+smallCatalogItem03('Букеты из тюльпанов')
				+smallCatalogItem03('Букеты из калл')
				+smallCatalogItem03('Элитные букеты')
				//+smallCatalogItem('')

mixin sCatalog-03-2()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+e.row.row
				+smallCatalogItem03('Букеты из хлопка')
				+smallCatalogItem03('Букеты в корзинах	')
				+smallCatalogItem03('Букет полевых цветов')
				+smallCatalogItem03('Букеты из сухоцветов')

				+smallCatalogItem03('Букеты лаванды')
				+smallCatalogItem03('Букеты из подсолнухов')
				+smallCatalogItem03('Букеты осенних цветов')
				+smallCatalogItem03('Экзотические букеты')


mixin catalogItem(imgNum, title, txt)
	+e.col--js.col-lg-4
		+e.A.item(href="#")
			+pic(`catalog-item-${imgNum}.jpg`)(class="sCatalog__item-img")
			+e.item-descr
				+e.item-title=title
				+e.item-txt=txt

mixin smallCatalogItem(title)
	+e.col--js.col-lg-4
		+e.A.item(href="#")
			+e.item-descr--small
				+e.item-title=title

mixin smallCatalogItem03(title)
	+e.col--js.col-sm-6.col-lg-4.col-xl-3
		+e.A.item(href="#")
			+e.item-descr--small
				+e.item-title--xs=title

mixin sCatalog-13()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Каталог букетов
				p Какие цветы выбираем сегодня?
			+e.row.row
				+catalogItem(1, 'Мужские букеты', 'Он будет сражен наповал')
				+catalogItem(2, 'Женские букеты', 'Порадуйте любимых')
				+catalogItem(3, 'Компаниям', 'Ваши пожелания - наш закон')