mixin sFitoDesign()
	// start sFitoDesign
	+b.SECTION.sFitoDesign.section#sFitoDesign&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Фитодизайн
			+e.row.row
				+e.green-col.col-md-6.col-xl-4
					+e.txt Фитодизайн от «Зверобоя» — зеленая стена из стабилизированного ягеля
				+e.list-col.col-md-6.col-xl-8
					ul
						li  Кустики ягеля, собранные в рельефный зеленый ковер
						li Не требуют полива и ухода, экологичны и безопасны
						li Потрясающий 3D-эффект, привлекающий внимание
						li Любые композиции, в том числе с логотипом и брендом компании
	// end sFitoDesign

mixin sFitoDesign08()
	// start sFitoDesign
	+b.SECTION.sFitoDesign.section#sFitoDesign&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Оформление цветами мероприятий
			+e.row.row
				+e.green-col.col-md-6.col-xl-4
					+e.txt Живые растения зададут стиль и создадут потрясающую атмосферу в любое время года.
				+e.list-col.col-md-6.col-xl-8
					ul
						li Оформление цветами мероприятий с безупречным знанием этикета и совершенным вкусом
						li Каждая деталь выдержана в выбранной цветовой гамме
						li Работаем в Москве и Московской области с заданиями любой сложности
						li Разработка индивидуальной концепции с учетом тематики и стиля мероприятия