mixin mob-mnu()
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			.text-right
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.mob-strip.container-fluid.d-xl-none
			+e.m-row.row.align-items-center
				.col-auto
					+e.burger.burger-js
						span
				.col-auto
					+e.m-btn.link-modal(href='#modal-call') заказать
				.col-auto.ms-auto.ms-sm-0
					+e.m-tell(href='tel:+74993993071')
						+e.mt-img
							img(loading="lazy" src="img/svg/call-btn.svg" alt="")
						span.d-none.d-sm-inline +7 (499) 399-30-71
		+e.container.container.mob-mnu-cont-js
			+e.top-row.row
				+e.address-col.col-xl-4
					+e.address
						+e.add-name Магазин лесных букетов
						+e.add-txt г. Москва
					+b.soc-cont
						+e.A.item(href="#")
							+icon('fb')
						+e.A.item(href="#")
							+icon('instagram')
				+e.logo-col.col-xl-4
					+e.A.logo(href="/")
						img(src="img/@2x/logo.jpg")
				+e.contacts-col.col-xl-4
					+e.contacts
						+e.A.tell(href="tel:+74993993071") +7 (499) 399-30-71
						+e.A.mail(href="mailto:hi@zveroboy-flowers.ru") hi@zveroboy-flowers.ru
				+b.menu-cont
					+mnu()
	// end top-nav