mixin sBlogPage()
	// start sBlogPage
	+b.SECTION.sBlogPage.section#sBlogPage&attributes(attributes)
		.container
			+arrowStrip
			+b.section-title.text-center
				h2 Какие цветы дарят мужчинам
				p Можно ли мужчине дарить любые цветы? Не совсем, потому что для мужских букетов действуют чуть более строгие правила этикета, чем для женских. В основном цветы мужчине выбирают ярких, можно даже темных оттенков: бордовых, синих, фиолетовых и т. д., потому что нежные пастельные цвета вроде розового прочно ассоциируются с женскими букетами. Еще при выборе того, какие цветы подарить мужчине, стоит учитывать их значение. Вот наиболее распространенные цветы, которые принято использовать в мужских букетах.
			+BlogPageFlowerItem(1, 'Каллы')
				| Их лаконичная форма как нельзя лучше оттеняет мужской прямолинейный характер. Эти благородные и стройные цветы бывают разных оттенков: белые каллы подойдут для свободолюбивых мужчин, ценящих чистоту помыслов и верность, а бордовые или лиловые будут отличным подарком для страстного мечтателя и авантюриста. В целом каллы, независимо от их цвета, являются символом благополучия и семейного счастья. Поэтому если вы думаете о том, какие цветы подарить на день рождения любимому мужчине, каллы будут очень уместны.
			+BlogPageFlowerItem(1, 'Подсолнухи')
				| Крупные и дерзкие цветы декоративного подсолнуха подойдут для смелых мужчин, которые любят быть центром внимания и всегда добиваться своих целей. Подсолнухи издревле ассоциируются с солнцем, теплом и самой жизнью. Они станут хорошим подарком для представителя сильного пола по любому случаю.
			+BlogPageFlowerItem(1, 'Стрелиция или «райская птица»')
				| Экзотический пестрый цветок родом из Южной Африки. Благодаря своей необычной форме и устремленным прямо в небо сине-оранжевым лепесткам, стрелиция ассоциируется с победами, завоеваниями и упорством в достижении своих целей. Этот цветок считается символом смелых, успешных и мужественных людей, поэтому его так любят использовать именно в мужских композициях. Это идеальный цветок для букета на день рождения мужчине-начальнику или коллеге, который обеспечит хорошее настроение.
			+BlogPageFlowerItem(1, 'Антуриум')
				| Сочный красный цветок, который в народе называют «мужским счастьем», как нельзя лучше подходит для презента мужчине. Он приковывает к себе взгляды и ассоциируется со смелостью и страстью, а букет из антуриума, поставленный дома, благоприятно влияет на семейные отношения и приносит своему обладателю только положительные эмоции. Это прекрасные мужские цветы в подарок на день рождения близкому человеку.
			+BlogPageFlowerItem(1, 'Амариллис')
				| Это мужской цветок, также известный под названием «рыцарская звезда», который символизирует гордость, смелость и непоколебимость. Если девушка преподносит парню амариллис, то на языке цветов это означает, что он ей не безразличен и она хотела бы стать ему кем-то ближе, чем просто подругой.
			+BlogPageFlowerItem(1, 'Розы')
				|Царицы цветов пепельного, бордового или белого оттенка вполне могут украсить даже самый брутальный мужской букет, добавив ему немного нежности и изящества. Однако монобукеты из роз мужчинам практически не дарят.
			+BlogPageFlowerItem(1, 'Клематис')
				|Нежные, но довольно строгие цветы клематиса символизируют ум и духовность. Если вы ищете, какие цветы дарят на день рождения мужчинам-коллегам, букет из клематисов станет прекрасным и интеллектуальным подарком.
			+e.lower-txt.text-center Конечно, это далеко не полный список мужских цветов, которые наши флористы используют для своих букетов. Помимо цветов, мы любим дополнять авторские цветочные композиции необычными растениями и элементами: листьями монстеры, мхом, ветками, перьями, артишоками, суккулентами и так далее. Все это придает нашим мужским букетам уникальную фактуру и неповторимый природный аромат.
	// end sBlogPage

mixin BlogPageFlowerItem(imgNum, titleTxt)
	+e.f-item
		+e.f-img
			+e.f-img-inner
				img(loading="lazy" src=`img/@2x/blog-flower-item-${imgNum}.jpg` alt="")
		+e.f-txt
			h4=titleTxt
			p
				block