 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}
}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.breadcrumb-cont{
	padding: rem(10) 0;
	@include media-breakpoint-up(sm){
		padding: rem(20) 0;
	}
	@include media-breakpoint-up(lg){
		padding: rem(40) 0 rem(20) 0;
	}
	.swiper-container{

	}
	//ol
	.swiper-wrapper{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	//li
	.swiper-slide{
		width: auto;
		height: 30px;

		display: flex;
		align-items: center;
		white-space: nowrap;

		&:hover{
			&:before{
				color: rgba($body-color, .7);
			}
		}
		&:not(:first-child):before{
			content: '→';//??
			color: $body-color;
			font-size: rem(20);
			margin: 0 rem(10);
		}

		a{
			@include mt();

			color: $body-color;
			&:hover{
				color: rgba($body-color, .7);
			}
		}
		span{
			font-weight: 300;
			font-size: rem(16);
		}
	}

}

