mixin sHowWork()
	// start sHowWork
	+b.SECTION.sHowWork.section#sHowWork&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как мы работаем?
			+e.items
				+howWorkItem(1)
					h4 Оформление заказа
					p
						| Заказ можно оформить через сайт, позвонив нам, написав в WhatsApp или на почту - см. раздел
						|
						a(href='#')
							| КОНТАКТЫ.
							|
						| Вы можете заказать как 1, так и 400 букетов - они будут подготовлены и отгружены в срок.
				+howWorkItem(2)
					h4 Подтверждение заказа
					p Перезваниваем в течение 1 часа после получения заявки с сайта и уточняем все детали.
				+howWorkItem(3)
					h4 Удобная оплата
					p Способы оплаты:
					ul
						li наличными курьеру
						li оплата он - лайн любой картой и виртуальным кошельком
						li оплата по счёту юридического лица
				+howWorkItem(4)
					h4 Доставка
					p
						| Доставляем в удобные временные интервалы:
						br
						| 9:00-12:00
						br
						| 12:00-15:00
						br
						| 15:00-18:00
						br
						| 18:00-21:00.
						br
						| Доступна доставка и в другие временные промежутки по запросу.
						br
						| Пакет необходимых закрывающих документов привозит курьер с заказом.
					p Заказы можно оформить на сайте круглосуточно. Заказы обрабатываются администратором с 9:00 до 18:30. Поэтому заказы, сделанные после 18:30, будут обработаны в 9:00 утра следующего дня и доставлены не ранее 12:00 ( в зависимости от дальности доставки и наличия цветка).
					p
						| Доставка букета до счастливого обладателя:
						br
						| Через 24 часа и более после заказа - 430 руб.
						br
						| Доставка в день заказа - 550 руб.
						br
						| Доставка за пределы МКАД 15 км - 700 руб.
						br
						| Доставка в точному времени или вне интервалов доставки - дополнительно 500 руб.
			+e.btn-cont
				+e.A.btn(href='#') ЗАКАЗАТЬ ЦВЕТЫ
	// end sHowWork

mixin howWorkItem(imgNum)
	+e.item
		+e.img
			img(loading="lazy" src=`img/@2x/how-work-${imgNum}.jpg` img="")
		+e.content
			block