mixin sVase()
	// start sVase
	+b.SECTION.sVase.section#sVase&attributes(attributes)
		.container
			+e.row.row
				.col-md-5.col-lg-4
					+b.section-title.text-center
						h2 ДЛЯ ЛЮБОГО БУКЕТА МОЖНО ПОДОБРАТЬ СТЕКЛЯННУЮ ВАЗУ
						a(href="#") ВЫБРАТЬ ВАЗУ
				+e.img-col.col-md-7.col-lg-auto
					+e.A.img(href="#")
						img(loading="lazy" src="img/@2x/sVase.jpg" alt="")
	// end sVase