mixin sSeo()
	// start sSeo
	+b.SECTION.sSeo.section#sSeo&attributes(attributes)
		+b.arrow
			img(loading="lazy" src="img/@2x/arrow-img.png" alt="")
		.container
			+e.txt.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				h1 Необычные и оригинальные букеты цветов
				p "Зверобой" - магазин оригинальных и стильных букетов цветов на заказ. Они цепляют и запоминаются. У каждого - свой характер и свое настроение. Мы создаем авторские букеты, подчеркивающие индивидуальность.
				p Необычные дизайнерские букеты от "Зверобой" дарят, чтобы поделиться чувствами и рассказать о сокровенном и нежном, о самом важном. Мы благодарны каждому клиенту за то, что именно наши арт букеты становятся языком, которым они выражают свое уважение, признание, благодарность и любовь. Мы счастливы быть частью этой магии.
				h1 Оригинальные цветы и растения в букетах "Зверобой"
				p Изюминка наших дизайнерских букетов - оригинальные цветы и растения. Хвоя, мох и шишечки брунии наполняют воспоминаниями и мечтами о бескрайней свободе лесных просторов, сирень - о майских прогулках по улицам города в детстве, суккуленты с их мясистыми листьями - о знойных странах с их диковинным растительным миром, розмарин вносит аромат специй.
				p С первого взгляда бывает неочевидным, но мы используем только натуральные цветы и растения в наших дизайнерских арт букетах. Так, например, серебряные шарики, те самые, будто вязаные - это брунии. Они добавляют припыленной нежности многим нашим стильным букетам.
				h1 Оригинальные и необычные букеты на день рождения
				p Конечно, самый популярный повод для того, чтобы подарить цветы - день рождения, наш любимый праздник со времен детства.
				p Вот несколько советов, которые помогут вам при выборе авторского букета на день рождения:
				ul
					li Подарок должен нравиться имениннику. Подбирайте букет под его характер и вкус.
					li Выделяйтесь. Необычные цветы и растения придадут смелости и оригинальности букету на день рождения. Ваш букет точно не затеряется на фоне других.
					li Сделайте сюрприз. Если вас нет рядом в день рождения вашего близкого человека, закажите арт букет с доставкой и приложите к нему нежную записку. Еще несколько дней после дня рождения ваш необычный букет будет напоминать о вас.
				p В "Зверобой" вы точно найдете стильный и необычный букет цветов для любимого человека. Поделитесь зарядом счастья и яркой гаммой чувств, собранными в наших авторских букетах.
			+e.btn-cont.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
				+e.btn.go-top-js Наверх
			+e.green-strip
				p Наши авторские букеты могут отличаться от картинки, так как все цветы уникальны. В зависимости от сезона мы можем на свое усмотрение заменять цветы. Букет будет таким же красивым и стильным, также останется в рамках указанной на сайте цены.
	// end sSeo