mixin sFlowerPot()
	// start sFlowerPot
	+b.sFlowerPot.section#sFlowerPot&attributes(attributes)
		.container
			+e.row.row
				+e.txt-col.col-md-5.col-lg-4
					h4 ЛЮБОЙ ЖЕНСКИЙ БУКЕТ ИЗ КАТАЛОГА МОЖЕТ БЫТЬ ОФОРМЛЕН В КАШПО ИЗ ЛИПЫ. ПРОСТО НАПИШИТЕ ОБ ЭТОМ В КОММЕНТАРИЯХ К ЗАКАЗУ!
				+e.img-col.col-md-7.col-lg-8
					+e.img
						img(loading="lazy" src="img/@2x/sFlowerPot.jpg" alt="")
	// end sFlowerPot