// start .sFlowerPot
.sFlowerPot {
	--sTPB: #{rem(0)};
	--sPT: #{rem(10)};
	--sPB: #{rem(10)};

	&__row{
		flex-direction: column-reverse;
		@include media-breakpoint-up(md){
			flex-direction: row;
		}
	}

	&__txt-col{
		width: 90%!important;
		@include media-breakpoint-up(md){
			width: 290px!important;
		}

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		h4{
			font-size: 13px;
			line-height: (23/13);
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	&__img-col{

		margin-bottom: rem(30);
		@include media-breakpoint-up(md){
			margin-bottom: 0;
		}
		@include media-breakpoint-up(lg){
			max-width: 690px;
		}
	}
	&__img{
		width: 100%;
		img{
			@include mt();
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
	&__{}

} // end.sFlowerPot