mixin sCorporative()
	// start sCorporative
	+b.SECTION.sCorporative.section#sCorporative&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Кроме того, мы можем предложить корпоративное оформление на Новый год!
				p Выполним для ваших клиентов и сотрудников:
			.row
				+weMakeItem(7, 'Корпоративные подарки')(class="col-sm-6 we-make-col--corporative")
					| Поможем воплотить Ваши оригинальные идеи, также предложим свои согласно Вашим пожеланиям - для кого подарок,
					|
					br
					| и что именно хотелось видеть.
					|
					br
					| Стоимость готового подарочного
					|
					br
					| набора от 2 тысяч рублей.
				+weMakeItem(8, 'Брендирование с учётом корпоративного стиля')(class="col-sm-6 we-make-col--corporative")
					| Необходимо подчеркнуть фирменный стиль?! Мы можем специально
					|
					br
					| для Вас забрендировать элементы
					|
					br
					| декора с учётом всех пожеланий
					|
					br
					| по корпоративному стилю компании.
	// end sCorporative